.theme-nav-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 $mobile-indent 28px;
    box-sizing: border-box;
    flex-wrap: wrap;
    @media all and (min-width: 450px){
        flex-wrap: nowrap;
    }
    @media all and (min-width: 1600px){
        padding-left: 0;
        padding-right: 0;
    }

    &:after {
        display: none;
    }
    &_holder {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &_logo-holder {
        display: none;
        overflow: hidden;
        width: 54px;
        @media all and (min-width: 860px){
            display: inline;
        }

        .theme-main-nav & {
            display: block;
        }
    }
    .nav-global {
        margin: 0 10px 0 0;
        font: 0/0 a;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media all and (min-width: 600px){
            margin-right: 21px;
        }

        .cta-discovery {
            @include inline-block;
            font-size: 26px;
            padding: 0;
            margin-right: 10px;
            color: $theme-color-main;
            @media all and (min-width: 600px){
                margin-right: 21px;
            }
        }
        .cta-register {
            font: 14px/18px muliregular;
            color: #515e66;
            text-transform: uppercase;
        }
    }
    .nav-courseware {
        margin: 0;
    }
}