.header-global .wrapper-header {
    max-width: 1200px;

    .logo {
        margin: -2px 39px 0 0;
    }
    .course-header {
        display: none;
    }
    .wrapper-user-menu {
        margin: 0;

        span {
            font-size: 14px;
        }
    }
    .list-inline {
        &.nav-global {
            margin-top: 10px;
        }
        .item {
            text-transform: none;
            font-size: 14px;
        }
    }
    .nav-global li a:hover {
        text-decoration: none;
    }
}
.dropdown-menu-container {
    .menu-button {
        float: left;
        width: 29px;
        height: 25px;
    }
    .menu-title {
        float: left;

        &:focus,
        &:hover {
            text-decoration: none;
        }
        .menu-image {
            border-radius: 10%;
            margin: 0;
        }
        .label-username {
            float: right;
            margin: 11px 5px 11px 15px;
            font-size: 14px;
            line-height: 1.3;
        }
    }
}
.wrapper-footer {
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
    border-top: 1px solid #c5c6c7;
    padding: 25px 10px 30px 10px;

    footer#footer-openedx {
        max-width: 1200px;
        flex-wrap: nowrap;

        .colophon {
            margin-left: 0;
            margin-right: 0;
            width: 70%;

            .nav-colophon ol {
                overflow: hidden;
                margin-left: 0;
            }
        }
        .wrapper-logo p {
            margin: 0;
        }
        ul {
            margin-left: 0;

            a {
                &:hover {
                    text-decoration: none;
                    border: none;
                }
            }
        }
        .footer-about-openedx {
            width: 100%;
        }
        a:hover,
        a:focus {
            text-decoration: none !important;
            border: none !important;
        }
    }
}
