.header-global .wrapper-header .course-header {
    display: none;
}
.dicussion-holder-drop {
    width: 100%;
    background: #454a4e;
    display: flex;
    justify-content: flex-end;
    @media all and (min-width: 800px) {
        display: block;
        background: transparent;
        width: auto;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
.header-global .wrapper-header .wrapper-user-menu.dropdown-menu-container {
    height: 61px;
    padding: 10px;
    box-sizing: border-box;

    @media all and (min-width: 800px) {
        height: 40px;
        padding: 0;
    }
}
.dropdown-menu-container .menu-button.default-icon:after {
    border-top-color: #fff;
}
.dropdown-menu-container .menu-button {
    background: transparent;

    .text {
        font-size: 0;
        line-height: 0;
    }
}
.window-wrap .dropdown-menu-container .dropdown-menu .dropdown-item a {
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}
body.discussion .content-wrapper {
   min-width: 760px;
}