.btn {
	color: $base-color;
	border-color: $base-color;
	&:hover,
	&:active {
		&:not(:disabled) {
			color: #fff;
			background: $btn-bg-hover;
			border-color: $btn-bg-hover;
		}
	}
	&:focus {
		border-color: $btn-bg-hover;
	}
}

.has-breadcrumbs {
	.breadcrumbs {
		.all-topics {
			background: none;
		}
	}
}


