.header-global .wrapper-header .logo {
    float: right;
    margin: -2px 0 0 39px;
}
.dropdown-menu-container .menu-title {
    float: right;

    .label-username {
        float: left;
    }
}
.tabs .tab {
    float: right;
}