@font-face {
    font-family: 'muliitalic';
    src: url('../../fonts/muli-italic-webfont.woff2') format('woff2'),
         url('../../fonts/muli-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulilight';
    src: url('../../fonts/muli-light-webfont.woff2') format('woff2'),
         url('../../fonts/muli-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulilight_italic';
    src: url('../../fonts/muli-lightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/muli-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'muliregular';
    src: url('../../fonts/muli-regular-webfont.woff2') format('woff2'),
         url('../../fonts/muli-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}