<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>

<div class="certificate-wrapper">
    <img class="main-bg" src="/static/${settings.FEATURES.get('DEMO_KTHPLUS_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/certificate-bg.svg">
    <div class="certificate-body">
        <img class="certificate-logo" src="/static/${settings.FEATURES.get('DEMO_KTHPLUS_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/cert-logo.png">
        <div class="ribbon">
            <span class="ribbon-text">
                <img src="/static/${settings.FEATURES.get('DEMO_KTHPLUS_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/dot.png">
                <b>c e r t i f i c a t e</b>
            </span>
            <strong class="general-text">THIS CERTIFICATE IS PROUDLY PRESENTED TO</strong>
        </div>
        <div class="inner">
            <strong class="user-name">${accomplishment_copy_username}</strong>
            <p class="certificate-text">${accomplishment_copy_description_full}</p>
            <strong class="course-name">${accomplishment_copy_course_org} ${course_number}: ${accomplishment_copy_course_name}</strong>
            <div class="certificate-bottom">
                <div class="date">
                    <strong>${certificate_date_issued}</strong>
                    <span>Date</span>
                </div>
                <div class="medal">
                    <img src="/static/${settings.FEATURES.get('DEMO_KTHPLUS_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/medal.svg">
                </div>
                % if mode != 'base':
                <div class="signature">
                    % if certificate_data:
                    % for signatory in certificate_data.get('signatories', []):
                        <strong><img class="signatory-signature" src="${static.url(signatory['signature_image_path'])}" alt="${signatory['name']}"></strong>
                        <span>${signatory['name']}</span>
                    % endfor
                    % endif
                </div>
                % endif
            </div>
        </div>
        <span class="certificate-number">Certificate ID Number: ${certificate_id_number}</span>
    </div>
</div>


