<%! from django.utils.translation import ugettext as _ %>

<div class="wrapper-header">

    <header class="header-app" role="banner">
        <h1 class="header-app-title">
            <a class="logo" href="/">
                <img class="logo-img" src="/static/${settings.DEFAULT_SITE_THEME}/images/header-info/logo-black.png" alt="${_('{platform_name} Home').format(platform_name=platform_name)}" />
            </a>
            <span class="sr-only">${logo_subtitle}</span>
        </h1>
    </header>

</div>