.programs {
    max-width: 1080px;
    margin: 0 auto 30px;
    width: 90%;
}

.homepage-boxes {
    display: block;
    width: 100%;
    padding: 40px 0;
}

.homepage-boxes-container {
    display: block;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.homepage-boxes-item {
    display: block;
    background: #ffffff;
    padding: 30px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
.homepage-boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.homepage-boxes-item {
    display: inline-block;
    width: 49%;
    margin-top: 20px;
}
}


@media only screen and (min-width: 1170px) {
    .homepage-boxes-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
    }
    .homepage-boxes-item {
        display: inline-block;
        width: 23%;
        margin-top: 20px;
    }
}

.homepage-boxes-item img {
    display:block;
    margin: 0 auto;
}

.homepage-boxes-item h1 {
    font-size: 26px;
    font-weight: 300;
    line-height: 28px;
    color: #4a4a4a;
}

.homepage-boxes-item p {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    margin-top: 20px;
}

.homepage-boxes-item a {
    text-decoration: none;
    color: #e64814;
    font-size: 12px;
    font-weight: 400;
}


.homepage-boxes-item a:hover {
    text-decoration: underline;
    color: #e64814;
}


.homepage-course-boxes-image-holder {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.homepage-course-boxes-image-holder img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.homepage-course-boxes-description {
    padding: 20px;
    background: #ffffff;
}
.homepage-course-boxes-container {
    padding: 0;
    list-style: none;
    margin: 0 0 20px;
}
.homepage-course-boxes-item {
    margin: 0 0 20px;
}

@media only screen and (min-width: 600px) {
.homepage-course-boxes-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.homepage-course-boxes-item {
    display: inline-block;
    width: 49%;
}
}


@media only screen and (min-width: 1170px) {
.homepage-course-boxes-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0 -30px 20px 0;
}
.homepage-course-boxes-item {
    display: inline-block;
    width: 249px;
    margin-right: 28px;
}
}

.homepage-course-boxes-item img {
    display:block;
    margin: 0 auto;
}

.homepage-course-boxes-item h1 {
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    color: #4a4a4a;
    margin-top: 20px;
}

.homepage-course-boxes-item h3 {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #a3a3a3;
    margin-top: 0px;
    text-align: center;
}

.homepage-course-boxes-item p {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    margin-top: 20px;
}

.homepage-course-boxes-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px; //these two lines are to hide my actual link text.
    overflow: hidden; //these two lines are to hide my actual link text.
}


.homepage-course-boxes-item a:hover {
}

.course-track {
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.course-track:hover {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.course-track:before {
    top: -5px;
    left: -4px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e6e6e6;
    border: 1px solid #d0d0d0;
    z-index: -1;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.course-track:hover:before {
    -ms-transform: rotate(-0.6deg); /* IE 9 */
    -webkit-transform: rotate(-0.6deg); /* Safari */
    transform: rotate(-0.6deg);
    -ms-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.course-track:after {
    top: -10px;
    left: -8px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e6e6e6;
    border: 1px solid #d0d0d0;
    z-index: -2;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.course-track:hover:after {
    -ms-transform: rotate(-1.2deg); /* IE 9 */
    -webkit-transform: rotate(-1.2deg); /* Safari */
    transform: rotate(-1.2deg);
    -ms-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}
.homepage-course-boxes-item_helper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
}
.program-description {
    font-size: 12px;
    line-height: 1.3;
    font-family: titilliumweb-regular,sans-serif;
    color: #999;
    margin-top: 20px;
    text-align: center;
}
img.homepage-boxes_logo-etc {
    margin-bottom: 15px;
    margin-top: 15px;
}