.login-register {
    .form-type {
        min-width: 320px;
    }
    .toggle-form {
        min-width: 275px;
    }
    .form-wrapper {
        form {
            * {
                font-family: muliregular !important;
            }
        }
        .action-primary {
            @include inline-block;
            font: 14px/1.3 muliregular;
            padding: 7px 24px 6px;
            box-shadow: none;
            border-radius: 0;
            text-transform: uppercase;
            transition: all .1s;
            text-shadow: none;
            height: 40px;
            color: #fff !important;
            background: $theme-color-main;
            border: 1px solid $theme-color-main;

            &:hover {
                color: $theme-color-main !important;
                background: #fff;
                border: 1px solid $theme-color-main-hover;
                text-decoration: none;
            }
        }
    }
}