.theme-content {

    &_helper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .3); 
    }

    .theme-content_header {
        background: url("../images/promo-img.jpg") 50% 0;
        background-size: cover;
        position: relative;
        margin-top: -100px;
        padding: 100px 0 0;
        box-shadow: none;
        overflow: visible;
    }

    .home {

       .outer-wrapper {
            max-width: 1080px;
            padding: 64px 40px 78px;
            box-sizing: border-box;

            .title {
                background: none;
                box-shadow: none;
                width: 100%;
                margin: 0;
             }

             .heading-group {
                display: block;

                h1,
                p {
                   color: #fff;
                   text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
                   text-align: center;
                   font-style: normal; 
                }
                h1 {
                   font-family: $font-bold;
                   font-size: 50px;
                   line-height: 1.3;
                   margin-bottom: 4px;
                }
                p {
                    font-size: 30px;
                    line-height: 1.3;
                    margin-bottom: 52px;
                }
            }
            .course-search {
                max-width: 500px;
                margin: 0 auto;
                position: relative;

                .search-input {
                    border-radius: 4px;
                    border: 1px solid #fff;
                    background: rgba(255, 255, 255, .3);
                    padding: 0 56px 0 19px;
                    color: #fff;

                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                      color: #fff;
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                      color: #fff;
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                      color: #fff;
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                      color: #fff;
                    }
                }

                .search-button {
                    border: none;
                    background: url("../images/loupe.png") 50% 50% no-repeat;
                    width: 56px;
                    right: 0;
                    
                    &:focus,
                    &:hover {
                        background: rgba(255, 255, 255, .2) url("../images/loupe.png") 50% 50% no-repeat;
                    }
                }
            }
        }
    }
    &_heading {
        font: 36px/1.3 $font-bold;
        color: #45a2d6;
        text-align: center;
        padding: 38px 0;
        margin: 0;
    }
    
    .courses-container {
        max-width: 1080px;
        width: 90%;
    }
}
