.main-header {
    box-shadow: none;
    border: none;
    height: 100px;
    background: none;
    
    &_holder {
        display:flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 1px;
    }
    .nav-global {
        margin-right: 36px;
    }
    .nav-global li a, 
    .nav-global div a {
        color: #fff;
        text-transform: none;
        font-size: 16px;
        line-height: 1.3;
       
        &:focus, 
        &:hover {
            color: lighten(#dd4628, 10%) !important;
        }
    }
    .wrapper-header {
       max-width: 1080px;
       box-sizing: border-box;
       padding: 26px 40px 23px;
       height: auto;
    }
    &__black {
        background: #30363a;
    }
    &_wrapper {
        width: 100%;
        background: rgba(0, 0, 0, .3);

        &__fixed {
            position: fixed;
            top: 0;
        }
    }
}

.item.nav-global-01.nav-global-01-xseries-style a {
    font-size: 1em;
    color: #767676;
}

