.main-header {
    box-shadow: none;
    border: none;
    background: none;
    position: relative;
    z-index: 1000;
    min-height: 100px;
    
    &_holder {
        justify-content: flex-end;
        align-items: center;
        padding-top: 1px;
        display: none;
        @media all and (min-width: 800px) {
            display: flex;
        }
    }
    .nav-global {
        margin-right: 15px;
    }
    .nav-global li a, 
    .nav-global div a {
        color: #fff;
        text-transform: none;
        line-height: 60px;
        font-size: 18px;
        border: none;
        font-family: $font-regular;
        padding: 0;
        background: transparent;

        @media all and (min-width: 800px) {
            font-size: 16px;
            line-height: 1.3;
            padding: inherit;
        }
       
        &:focus, 
        &:hover {
            color: lighten(#dd4628, 10%) !important;
            border: none;
        }
    }
    .wrapper-header {
        max-width: 1080px;
        box-sizing: border-box;
        padding: 26px 40px 23px;
        height: auto;
        position: relative;
    }
    &__black {
        background: #30363a;
    }
    &_wrapper {
        width: 100%;
        background: rgba(0, 0, 0, .3);
        max-height: none;

        &__fixed {
            position: fixed;
            top: 0;
            height: 100px;
        }
        &__black {
            background: #30363a;
        }
    }
}

body.view-in-course .main-header {
    min-width: 320px;
}
body.view-in-course .content-wrapper {
   min-width: 760px;
}