.wrapper-footer {
    background: #45a2d6;
    padding: 0;
    min-height: 232px;

    footer#footer-openedx {
        max-width: 1080px;
        box-sizing: border-box;
        padding: 37px 40px 0;
    }
    a:hover {
        border: none !important;
        border-color: transparent !important;
        text-decoration: none !important;
    }
}