body.view-in-course .nav-holder .header-global,
body.view-in-course .nav-holder .header-global.slim {
    width: 100%;
    background: #1f1d20;
    border: none;
}

.window-wrap .wrapper-msg.urgency-high {
    background: #bb5464;
}