html,
body,
h1, h2, .home>header .title>.heading-group p, section.outside-app h1, h3, h4, h5, h6 {
    font-family: $font-regular;
}
html,
body{
    height: 100%;
    background: #f4f4f4;
}
.content-wrapper {
    background: #f4f4f4;
}
.courses-container .courses {
    float: none;
    // width: 100% !important;
}
.highlighted-courses .courses,
.find-courses .courses {
    padding: 32px 0 15px;
}
.window-wrap .find-courses .courses-container .courses:not(.no-course-discovery) {
    float: none;
    width: 100%;
}

.home .highlighted-courses {
    margin-bottom: 25px;
}

.main-header_holder .item.nav-global-01.nav-global-01-xseries-style a {
    color: #fff;
    text-transform: none;
    line-height: 60px;
    font-size: 18px;
    border: none;
    font-family: $font-regular;
    padding: 0;

    @media all and (min-width: 800px) {
        font-size: 16px;
        line-height: 1.3;
        padding: inherit;
    }

    &:hover {
        color: #e46c54 !important;
        border: none !important;
    }
}

.dropdown-menu-container {
    .menu-button {
        padding: 0 10px;
        border-radius: 3px;
        height: 16px;
        background: #fff;
        margin: 11px 0 0 8px;

        &.default-icon:after {
            top: 9px;
        }
    }
    .menu-image {
        border-radius: 10%;
    }
    .menu-title {
        color: #fff !important;
        font-weight: bold;

        &:hover {
            color: #e46c54 !important;
        }
    }
}

.icon-fallback-img .icon-angle-down {
    display: none !important;
}

.find-courses .search-facets.phone-menu {
    visibility: hidden;
}
section.outside-app p {
    font-family: $font-regular !important;
}
.forum-nav-browse {
    display: inline-block;
}
.find-courses .courses-container .courses .courses-listing .courses-listing-item {
    max-height: none !important;
}