//----------platform variables----------//
$blue: #009be0;
$base-color: $blue;
$btn-bg-hover: $blue;

$link-color: $base-color;
$link-hover: $base-color;
$shadow-color: $base-color;
$button-color: $base-color;
$action-primary-bg: $base-color;
$action-primary-focused-bg: $btn-bg-hover;

$courseware-border-bottom-color: $base-color;

$forum-color-primary: $base-color;
$forum-color-hover: $btn-bg-hover;

//----------theme variables----------//
//body background
$body-bg: #eee;
//settings for header
$header-nav-link-color: #009be0;
$header-nav-link-color-hover: lighten($header-nav-link-color, 20%);
$header-background: #fff;
$dropdown-menu-background: #9da5ac;
$dropdown-menu-color: #009be0;
$dropdown-menu-color-hover: lighten($dropdown-menu-color, 20%);
//logo
$logo-width: 37px;
$logo-height: 37px;
//settings for hamburger
$hamburger-color: #009be0;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings on promo box
$promo-box-text-color: #fff;
$promo-box-text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
$find-btn-bg: transparent;
$find-btn-bg-hover: rgba(0, 0, 0, .2);
$find-btn-border: #fff;
$find-btn-color: #fff;
$find-btn-color-hover: $find-btn-color;
//settings for footer
$footer-bg: #009289;
$footer-nav-link-color: #fff;
$footer-nav-link-color-hover: rgba(255,255,255, .8);
$footer-support-text-and-logo: #fff;
$footer-social-link-bg: #fff;
//btn
$theme-btn-bg: #009be0;
$theme-btn-text-color: #fff;
$theme-btn-bg-hover: lighten($theme-btn-bg, 20%);
$theme-btn-text-color-hover: #fff;
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: #fc6a15;
$theme-btn-white-text-color: #fc6a15;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: #fc6a15;
// link color
$theme-link: #842a97;
$theme-link-hover: lighten($theme-link, 20%);
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: #fc6a15;
//user link color 
$theme-user-link: #3c3c3c;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//settings fo courses on main page and search
$courses-border-color: #009be0;
$course-hover-bg: rgba(0, 0, 0, .5);
$course-link-color: $theme-link;
$course-bg: #fff;
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
