$blue: #009be0;
$base-color: $blue;
$btn-bg-hover: $blue;

$link-color: $base-color;
$link-hover: $base-color;
$shadow-color: $base-color;
$button-color: $base-color;
$action-primary-bg: $base-color;
$action-primary-focused-bg: $btn-bg-hover;

$courseware-border-bottom-color: $base-color;

$forum-color-primary: $base-color;
$forum-color-hover: $btn-bg-hover;
