// Our overrides for settings we want to change.
@import 'const';
@import 'fonts';
@import 'mixins';
$theme-img-path: "../images/box-new/";
@import "box-new/box-new";
$theme-img-path: "../images/header-info/";
@import "header-info/header-info";
$theme-img-path: "../images/nav-wrapper/";
@import "nav-wrapper/nav-wrapper";
@import "theme-courses/theme-courses";
$theme-img-path: "../images/theme-main-nav/";
@import "theme-main-nav/theme-main-nav";
$theme-img-path: "../images/theme-footer/";
@import "theme-footer/theme-footer";
@import "promo-box/promo-box";

// Import the original styles from edx-platform.
@import 'lms/static/sass/lms-main';