// Import the original styles from edx-platform.
@import "lms/static/sass/lms-main-v1";

// Our overrides for settings we want to change.
@import "const";
@import "fonts";
@import "mixins";
$theme-img-path: "../images/header-info/";
@import "header-info/header-info";
$theme-img-path: "../images/nav-wrapper/";
@import "nav-wrapper/nav-wrapper";
$theme-img-path: "../images/theme-courses/";
@import "theme-courses/theme-courses";
$theme-img-path: "../images/theme-main-nav/";
@import "theme-main-nav/theme-main-nav";
$theme-img-path: "../images/theme-footer/";
@import "theme-footer/theme-footer";
@import "promo-box/promo-box";
@import "theme-content/theme-content";
@import "theme-aside/theme-aside";
$theme-img-path: "../images/social-list/";
@import "social-list/social-list";
@import "user-list/user-list";
@import "theme-btn/theme-btn";
@import "nav-holder/nav-holder";
@import "theme-header/theme-header";
@import "content-wrapper/content-wrapper";
@import "ugc/ugc";
@import "course-staff/course-staff";
@import "dashboard/dashboard";
@import "login-register/login-register";
@import "courses-container/courses-container";
@import "valid/valid";
@import "other/other";
@import "header-global/header-global";
@import "theme-media/theme-media";
@import "container/container";
@import "account-settigs-section/account-settigs-section";
@import "layout";