//import the original styles from edx-platform
@import "lms/static/sass/lms-main-v1";

//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;

@import "main";