// Our overrides for settings we want to change.
@import 'const';
@import 'fonts';
@import 'mixins';
$theme-img-path: "/static/images/box-new/";
@import "box-new/box-new";
$theme-img-path: "/static/images/header-info/";
@import "header-info/header-info";
$theme-img-path: "/static/images/nav-wrapper/";
@import "nav-wrapper/nav-wrapper";
$theme-img-path: "/static/images/theme-courses/";
@import "theme-courses/theme-courses";
$theme-img-path: "/static/images/theme-main-nav/";
@import "theme-main-nav/theme-main-nav";
$theme-img-path: "/static/images/theme-footer/";
@import "theme-footer/theme-footer";
@import "promo-box/promo-box";
@import "theme-content/theme-content";
@import "theme-aside/theme-aside";
$theme-img-path: "/static/images/social-list/";
@import "social-list/social-list";

// Import the original styles from edx-platform.
@import 'lms/static/sass/lms-main';