.ugc {
    font-size: 15px;
    line-height: 24px;
    color: #36424a;

    * {
        font-family: muliregular !important;
    }
    p {
        margin: 0 0 30px;
    }
    h1, h2, h3, h4 {
        padding-top: 30px;
        margin: 0 0 40px;
        font-weight: bold;
    }
}