html,
body {
    line-height: 1.4rem;
}

/*-----Containers-----*/

.container {
    min-width: 320px;
    padding-right: 15px;
    padding-left: 15px;
    &>div {
        box-sizing: border-box;
    }
}

body {
    &.view-in-course {
        .window-wrap {
            min-width: 320px;
        }
    }
}
