// @media (max-width: 1199px) {}
// @media (max-width: 991px) {}
// @media (max-width: 767px) {}
// @media (max-width: 576px) {}
// @media (max-width: 540px) {}
// @media (max-width: 479px) {}

html {
    @media (max-width: 991px) {
        font-size: 90%;
    }
    @media (max-width: 767px) {
        font-size: 85%;
    }
}

html,
body {
    line-height: 1.4rem;
}

/*-----Home promo block-----*/  
.home {
    >header {
        position: relative;
        min-height: 420px;
        background: #040404 url('#{$img-path}/background.jpg') no-repeat 50% 50%;
        background-size: cover;
        @media (max-width: 767px) {
            min-height: initial;
        }
        .outer-wrapper {
            min-width: 320px;
            padding: 30px 15px;
            animation: none;
            box-sizing: border-box;
        }
        .title {
            float: none;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            background: none;
            box-shadow: none;
            @media (max-width: 767px) {
                padding: 20px 0;
            }
            >.heading-group {
                text-align: center;
                width: 100%;
                h1 {
                    margin-bottom: 50px;
                    font-size: 52px;
                    line-height: 1.2;
                    color: #fff;
                    text-align: center;
                    font-weight: bold;
                    text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.34);
                    @media (max-width: 767px) { 
                        font-size: 32px;
                    }
                }
                span {
                    text-align: center;
                    font-size: 34px;
                    line-height: 1.3;
                    text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
                    color: #fff;
                    margin-bottom: 40px;
                    @media (max-width: 767px) {
                        font-size: 26px;
                    }
                }
                .link {
                    background: transparent;
                    border: 3px solid #fff;
                    text-shadow: none;
                    box-shadow: none;
                    color: #fff;
                    border-radius: 2px;
                    padding: 10px 20px;
                    display: inline-block;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .course-search {
                position: relative;
                max-width: 584px;
                margin: 0 auto;
                .search-input {
                    float: none;
                }
                .search-button {
                    top: 20px;
                    right: 0;
                }
            }
            &:last-child {
                margin: 0 auto;
            }
        }
    }
}

/*-----Containers-----*/

.container {
    min-width: 320px;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    &>div {
        box-sizing: border-box;
    }
    &.about {
        parring-right: 15px;
        padding-left: 15px;
    }
}

body {
    &.view-in-course {
        .window-wrap {
            min-width: 320px;
        }
    }
}

/*-----Course about-----*/
.course-info {
    .container {
        @media (max-width: 767px) {
            padding-bottom: 60px;
        }
        @media (max-width: 576px) {
            padding-bottom: 40px;
        }
    }
    header {
        &.course-profile {
            padding-right: 15px;
            padding-left: 15px;
            box-sizing: border-box;
            .intro-inner-wrapper {
                min-width: 290px;
                max-width: 1150px;
                &>div.table {
                    @media (max-width: 767px) {
                        displat: block;
                    }
                }
                .intro {
                    @media (max-width: 991px) {
                        padding: 15px 0 15px 15px;
                    }
                    @media (max-width: 767px) {
                        display: block;
                        width: 100%;
                        padding-right: 15px;
                    }
                    &>.heading-group {
                        @media (max-width: 991px) {
                            padding-bottom: 15px;
                        }
                        h1 {
                            @media (max-width: 991px) {
                                font-size: 1.5em;
                                line-height: 1.5em;
                            }
                        }
                    }
                    .main-cta {
                        @media (max-width: 991px) {
                            margin-right: 0;
                        }
                        span {
                            &.register,
                            &.add-to-cart {
                                @media (max-width: 991px) {
                                    width: auto;
                                    margin: 0 10px 10px 0;
                                    padding: 10px;
                                }
                            }
                        }
                        strong {
                            @media (max-width: 991px) {
                                width: auto;
                                padding: 10px;
                                font-size: 1em;
                                line-height: 1em;
                            }
                        }
                    }
                }
                .media {
                    @media (max-width: 991px) {
                        padding: 15px;
                    }
                    @media (max-width: 767px) {
                        display: block;
                        width: 50%;
                    }
                    @media (max-width: 576px) {
                        width: 100%;
                    }
                }
            }
        }
    }
    .details {
        @media (max-width: 767px) {
            width: 100%;
            margin: 0 0 20px;
        }
    }
    .course-sidebar {
        @media (max-width: 767px) {
            width: 100%;
            margin: 0;
        }
        .course-summary {
            @media (max-width: 767px) {
                width: 100%;
                margin: 0;
            }
        }
    }
}

/*-----Courses-----*/
.courses-container {
    min-width: 320px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.find-courses,
.university-profile {
    .courses-container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.find-courses {
    .wrapper-search-context {
        .search-status-label {
            @media (max-width: 767px) {
                font-size: 1.8em;
                line-height: 1.8em;
            }
            @media (max-width: 540px) {
                min-height: auto;
                margin-right: 0;
                margin-bottom: 16px;
            }
        }
    }
    .courses-container {
        .courses {
            &:not(.no-course-discovery) {
                @media (max-width: 540px) {
                    float: none;
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }
    .search-facets {
        @media (max-width: 540px) {
            margin: 0;
        }
    }
}

.highlighted-courses,
.find-courses {
    .courses {
        @media (max-width: 540px) {
            padding-top: 20px;
        }
    }
}


/*----------Login and register-----*/
.login-register-content {
    min-width: 320px;
    padding: 0 15px;
}

.login-register,
.financial-assistance-wrapper .financial-assistance-form {
    padding: 0;
}

/*-----Dashboard-----*/
.dashboard {
    padding-right: 15px;
    padding-left: 15px;
    @media (max-width: 991px) {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .my-courses {
        @media (max-width: 991px) {
            float: none;
            width: 100%;
        }
        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
        .course {
            .details {
                .wrapper-course-image {
                    @media (max-width: 767px) {
                        width: 40%;
                    }
                    @media (max-width: 576px) {
                        float: none;
                        width: 100%;
                        margin: 0 0 10px;
                    }
                    .cover {
                        @media (max-width: 767px) {
                            max-height: 156px;
                        }
                        @media (max-width: 576px) {
                            float: none;
                            display: block;
                            max-height: initial;
                        }
                    }
                }
                .wrapper-course-details {
                    @media (max-width: 767px) {
                        width: 57%;
                    }
                    @media (max-width: 576px) {
                        width: 100%;
                    }
                }
                .course-title {
                    a {
                        @media (max-width: 767px) {
                            font-size: 1.4em;
                            line-height: 1.6em;
                        }
                    }
                }
                .course-info {
                    @media (max-width: 767px) {
                        width: 100%;
                        margin-top: 0;
                    }
                }
                .wrapper-course-actions {
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
        }
    }
    .dashboard-search-bar {
        @media (max-width: 991px) {
            float: none;
            width: 260px;
            margin-left: 0;
        }
    }
}

/*-----Profile-----*/

.view-profile {
    .profile-self {
        .wrapper-profile-field-account-privacy {
            borser-width: 1px 0;
            .u-field-account_privacy {
                max-width: 1200px;
            }
        }
    }
    .wrapper-profile-sections{
        max-width: 1200px;
    }
    .wrapper-profile-section-one {
        margin-left: 0;
    }
    .wrapper-profile-section-two {
        @media (max-width: 991px) {
            width: 100%;
        }
    }
    .profile-section-one-fields {
        margin-left: 0;
        @media (max-width: 991px) {
            width: auto;
            max-width: 360px;
        }
        @media (max-width: 576px) {
            width: 100%;
            margin: 0;
        }
        .u-field-username {
            .u-field-value {
                max-width: 100%;
            }
        }
    }
    .profile-image-field {
        margin: 0 20px 0 10px;
    }
}

/*-----Account Settings-----*/
.wrapper-account-settings {
    .account-settings-container {
        max-width: 1200px;
        min-width: 320px;
        padding-right: 15px;
        padding-left: 15px;
        box-sizing: border-box;
    }
}

.account-settings-sections {
    .section {
        .aboutTabSections-section-body {
            .u-field {
                .field {
                    @media (max-width: 991px) {
                        width: 36%;
                    }
                    @media (max-width: 767px) {
                        width: 100%;
                        max-width: 300px;
                        margin-bottom: 20px;
                    }
                }
                .u-field-message {
                     @media (max-width: 991px) {
                        width: 62%;
                        padding-left: 40px;
                        box-sizing: border-box;
                    }
                    @media (max-width: 767px) {
                        width: 100%;
                        padding: 0;
                    }
                }
            }
        }
        .accountsTabSections-section-body {
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            .u-field-social {
                margin: 0;
            }
            .u-field {
                .social-field-unlinked {
                    margin: 0;
                }
            }
        }
    }
}
