/*-----Home-----*/
.home {
    &>header {
        .title {
            .course-search {
                .search-button {
                     right: auto;
                    left: 0;
                }
            }
        }
    }
}

/*-----Course-----*/
.content-wrapper {
    .page-header {
        &.has-secondary {
            .page-header-secondary {
                @media (max-width: 479px) {
                    text-align: right;
                }
            }
        }
    }
}

/*-----Course - Lesson-----*/
.xmodule_display {
    &.xmodule_SequenceModule {
        .sequence-nav {
            .sequence-nav-button {
                &.button-previous {
                    @media (max-width: 767px) {
                        left: 50%;
                        right: auto;
                        margin-left: -1px;
                    }
                }
                &.button-next {
                    @media (max-width: 767px) {
                        margin-left: 0;
                        left: auto;
                        right: 50%;
                    }
                }
            }
        } 
    }
}

/*-----Wiki-----*/
.wiki-wrapper {
    section {
        &.wiki {
            .breadcrumb {
                padding-right: 0;
                li {
                    float: right;
                    margin: 0 0 0 10px;
                    a {
                        float: right;
                    }
                    &:after {
                        margin-right: 10px;
                        margin-left: 0;
                    }
                }
            }
            .main-article {
                float: right;
                padding: 40px 40px 40px 0;
                @media (max-width: 991px) {
                    padding: 20px 20px 20px 0;
                }
                @media (max-width: 767px) {
                    padding: 20px;
                }
            }
            .article-functions {
                float: right;
            }
        }
    }
}

.CodeMirror-scroll {
    margin-right: 0;
}

/*-----Instructor-----*/
.instructor-dashboard-wrapper-2 {
    .customBrowseBtn {
        .enhanced-input-file {
            padding: 8px 20px 8px 80px;
        }
        .file-browse {
            .browse {
                right: auto;
                left: 0;
                margin: 0;
            }
        }
    }
    section {
        &.idash-section {
            &#send_email {
                .list-fields {
                    .field {
                        .email-targets-secondary,
                        .email-targets-primary {
                            @media (max-width: 767px) {
                                padding: 0 0 0 10px;
                            }
                            @media (max-width: 479px) {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*-----Instructor Gradebook-----*/
div {
    &.gradebook-wrapper {
        section {
            &.gradebook-content {
                .student-table {
                    float: right;
                    td {
                        padding-right: 20px;
                        padding-left: 10px;
                        border-left: none;
                        border-right: 1px solid #c8c8c8;
                        @media (max-width: 767px) {
                            padding-right: 10px;
                        }
                    }
                }
                .grades {
                    float: right;
                }
            }
        }
    }
}

/*-----Sysadmin-----*/
.sysadmin-dashboard-content {
    .instructor-nav {
        a {
            margin-right: 0;
            margin-left: 1.2em;
            @media (max-width: 576px) {
                margin-right: 0;
                margin-left: 10px;
            }
        }
    }
}

/*-----Dashboard-----*/
.dashboard {
    .my-courses {
        .course {
            .wrapper-messages-primary {
                .message {
                    &.message-status {
                        &.course-status-certavailable {
                            .actions-primary {
                                @media (max-width: 479px) {
                                    float: right;
                                }
                                .action-certificate {
                                    @media (max-width: 479px) {
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
