// // @media (max-width: 1199px) {}
// // @media (max-width: 991px) {}
// // @media (max-width: 767px) {}
// // @media (max-width: 576px) {}
// // @media (max-width: 540px) {}
// // @media (max-width: 479px) {}


// html {
//     @media (max-width: 991px) {
//         font-size: 90%;
//     }
//     @media (max-width: 767px) {
//         font-size: 85%;
//     }
// }


// /*-----Dashboard-----*/
// .dashboard {
//     padding-right: 15px;
//     padding-left: 15px;
//     @media (max-width: 991px) {
//         display: -webkit-flex;
//         display: flex;
//         -webkit-flex-wrap: wrap;
//         flex-wrap: wrap;
//         -webkit-flex-direction: column-reverse;
//         flex-direction: column-reverse;
//     }
//     .my-courses {
//         @media (max-width: 991px) {
//             float: none;
//             width: 100%;
//         }
//         @media (max-width: 576px) {
//             margin-bottom: 20px;
//         }
//         .course {
//             .details {
//                 .wrapper-course-image {
//                     @media (max-width: 767px) {
//                         width: 40%;
//                     }
//                     @media (max-width: 576px) {
//                         float: none;
//                         width: 100%;
//                         margin: 0 0 10px;
//                     }
//                     .cover {
//                         @media (max-width: 767px) {
//                             max-height: 156px;
//                         }
//                         @media (max-width: 576px) {
//                             float: none;
//                             display: block;
//                             max-height: initial;
//                         }
//                     }
//                 }
//                 .wrapper-course-details {
//                     @media (max-width: 767px) {
//                         width: 57%;
//                     }
//                     @media (max-width: 576px) {
//                         width: 100%;
//                     }
//                 }
//                 .course-title {
//                     a {
//                         @media (max-width: 767px) {
//                             font-size: 1.4em;
//                             line-height: 1.6em;
//                         }
//                     }
//                 }
//                 .course-info {
//                     @media (max-width: 767px) {
//                         width: 100%;
//                         margin-top: 0;
//                     }
//                 }
//                 .wrapper-course-actions {
//                     @media (max-width: 767px) {
//                         width: 100%;
//                     }
//                 }
//             }
//         }
//     }
//     .dashboard-search-bar {
//         @media (max-width: 991px) {
//             float: none;
//             width: 260px;
//             margin-left: 0;
//         }
//     }
// }

// /*-----Course about-----*/
// .course-info {
//     .container {
//         @media (max-width: 767px) {
//             padding-bottom: 60px;
//         }
//         @media (max-width: 576px) {
//             padding-bottom: 40px;
//         }
//     }
//     header {
//         &.course-profile {
//             .intro-inner-wrapper {
//                 &>div.table {
//                     @media (max-width: 767px) {
//                         displat: block;
//                     }
//                 }
//                 .intro {
//                     @media (max-width: 991px) {
//                         padding: 15px 0 15px 15px;
//                     }
//                     @media (max-width: 767px) {
//                         display: block;
//                         width: 100%;
//                         padding-right: 15px;
//                     }
//                     &>.heading-group {
//                         @media (max-width: 991px) {
//                             padding-bottom: 15px;
//                         }
//                         h1 {
//                             @media (max-width: 991px) {
//                                 font-size: 1.5em;
//                                 line-height: 1.5em;
//                             }
//                         }
//                     }
//                     .main-cta {
//                         @media (max-width: 991px) {
//                             margin-right: 0;
//                         }
//                         span {
//                             &.register,
//                             &.add-to-cart {
//                                 @media (max-width: 991px) {
//                                     width: auto;
//                                     margin: 0 10px 10px 0;
//                                     padding: 10px;
//                                 }
//                             }
//                         }
//                         strong {
//                             @media (max-width: 991px) {
//                                 width: auto;
//                                 padding: 10px;
//                                 font-size: 1em;
//                                 line-height: 1em;
//                             }
//                         }
//                     }
//                 }
//                 .media {
//                     @media (max-width: 991px) {
//                         padding: 15px;
//                     }
//                     @media (max-width: 767px) {
//                         display: block;
//                         width: 50%;
//                     }
//                     @media (max-width: 576px) {
//                         width: 100%;
//                     }
//                 }
//             }
//         }
//     }
//     .details {
//         @media (max-width: 767px) {
//             width: 100%;
//             margin: 0 0 20px;
//         }
//     }
//     .course-sidebar {
//         @media (max-width: 767px) {
//             width: 100%;
//             margin: 0;
//         }
//         .course-summary {
//             @media (max-width: 767px) {
//                 width: 100%;
//                 margin: 0;
//             }
//         }
//     }
// }

// /*-----Courses-----*/

// .find-courses {
//     .wrapper-search-context {
//         .search-status-label {
//             @media (max-width: 767px) {
//                 font-size: 1.8em;
//                 line-height: 1.8em;
//             }
//             @media (max-width: 540px) {
//                 min-height: auto;
//                 margin-right: 0;
//                 margin-bottom: 16px;
//             }
//         }
//     }
//     .courses-container {
//         .courses {
//             &:not(.no-course-discovery) {
//                 @media (max-width: 540px) {
//                     float: none;
//                     width: 100%;
//                     margin-right: 0;
//                 }
//             }
//         }
//     }
//     .search-facets {
//         @media (max-width: 540px) {
//             margin: 0;
//         }
//     }
// }

// .highlighted-courses,
// .find-courses {
//     .courses {
//         @media (max-width: 540px) {
//             padding-top: 20px;
//         }
//     }
// }

