.theme-footer {
    &_row {
        display: flex;
        justify-content: space-between;
        padding: 0 0 32px;
    }
    &_list {
        margin: 0;
        padding: 0;
        list-style: none;
        columns: 180px 2;
        column-gap: 20px;

        a {
            font: 16px/1.3 font-regular;
            color: #fff !important;

            &:hover {
                color: #fff !important;
                text-decoration: none;
                border: none !important;
            }
        }

        li {
            padding: 0 0 10px;
        }
    }
    &_copyright {
        font: 16px/1.3 $font-regular;
        color: #a2d1eb;
        margin: 0;
        padding: 0;
    }
    &_platform-link {
        font-family: $font-bold !important;
        color: #a2d1eb !important;

        &:hover {
            color: darken(#a2d1eb, 10%) !important;
        }
    }
    &_social-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        
        &-item {
            margin-left: 15px;
        }
    }
    &_social-list-facebook,
    &_social-list-twitter {
        width: 40px;
        height: 40px;
        boder-radius: 2px;
        background-color: #307195;
        background-position: 50%;
        background-repeat: no-repeat;
        display: block;

        &:hover {
            text-decoration: none;
            background-color: darken(#307195, 10%);
            border: none !important;
        }
    }
    &_social-list-facebook {
        background-image: url("../../images/ico-facebook.png");
    }
    &_social-list-twitter {
        background-image: url("../../images/ico-twetter.png");
    }
}