.course-info {
	header.course-profile {
		padding: 20px 0;
		height: auto;

		.intro-inner-wrapper {
			.intro {
				@media screen and (max-width: 767px) {
					width: auto;
					order: 2;
				}

				.main-cta {
					span.register,
					span.add-to-cart {
						padding: 12px 10px;

						@media screen and (max-width: 767px) {
							width: auto;
							margin-bottom: 10px;
						}
					}

					strong {
						@media screen and (max-width: 767px) {
							width: auto;
							padding-left: 10px;
							padding-right: 10px;
						}
					}
				}
			}

			&>div.table {
				@media screen and (max-width: 767px) {
					display: flex;
					flex-direction: column;
				}
			}

			.media {
				@media screen and (max-width: 767px) {
					width: auto;
					order: 1;
				}
			}
		}
	}
	.details {
		* {
			font-family: "Open Sans";
		}
	}
	.intro-inner-wrapper {
		border-color: #ccc;
	}
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta > a.find-courses,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart {
	transition: all 0.2s ease;
	display: inline-block;
	background: $theme-btn-bg !important;
	color: $theme-btn-text-color !important;
	border: none !important;
	text-transform: uppercase;
	border-radius: 0 !important;
	text-shadow: none;
	box-shadow: none !important;
	&:active,
	&:focus {
		background: $theme-btn-bg !important;
	}
	&:focus:hover {
		background: $theme-btn-bg-hover !important;
	}
	&:hover {
		background: $theme-btn-bg-hover !important;
	}
}

.course-info {
	.course-sidebar {
		@media screen and (max-width: 767px) {
			width: 100%;
		}
	}
}
