.register-button,
.login-button {
	transition: all 0.2s ease;
	display: inline-block;
	background: $theme-btn-bg !important;
	color: $theme-btn-text-color !important;
	border: none !important;
	text-transform: uppercase;
	border-radius: 0 !important;
	&:active,
	&:focus {
		background: $theme-btn-bg !important;
	}
	&:focus:hover {
		background: $theme-btn-bg-hover !important;
	}
	&:hover {
		background: $theme-btn-bg-hover !important;
	}
}
