.register-button, /* register page */
.login-button, /* login page */
.wiki-wrapper section.wiki .settings-form .btn, /* wiki settings page */
.course-view .page-header-secondary .form-actions .btn,
.instructor-dashboard-wrapper-2 .bottom-bar input.add[type="button"],
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create,
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .form-submit,
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .action-cancel,
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .wrapper-tabs .tab.is-selected .toggle-button,
.view-register .register .btn-login-action {
	transition: all 0.2s ease;
	display: inline-block;
	background: $theme-btn-bg !important;
	color: $theme-btn-text-color !important;
	border: none !important;
	text-transform: uppercase;
	border-radius: 0 !important;
	text-shadow: none !important;
	box-shadow: none !important;
	&:active,
	&:focus {
		background: $theme-btn-bg !important;
	}
	&:focus:hover {
		background: $theme-btn-bg-hover !important;
	}
	&:hover {
		background: $theme-btn-bg-hover !important;
	}
}

.instructor-dashboard-content-2 .btn-blue {
	background-color: #eeeeee;
	background-image: linear-gradient(#eeeeee, #d6cece);
	border: 1px solid #cfc6c6;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 #ffffff inset;
	color: #333333;
	display: inline-block;
	font-size: 14px !important;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 1em;
	padding: 8px 17px;
	text-decoration: none;
	text-shadow: 0 1px 0 #f9f8f8;
}
