.register-button, /* register page */
.login-button, /* login page */
.wiki-wrapper section.wiki .settings-form .btn, /* wiki settings page */
.course-view .page-header-secondary .form-actions .btn,
.instructor-dashboard-wrapper-2 .bottom-bar input.add[type="button"] {
	transition: all 0.2s ease;
	display: inline-block;
	background: $theme-btn-bg !important;
	color: $theme-btn-text-color !important;
	border: none !important;
	text-transform: uppercase;
	border-radius: 0 !important;
	text-shadow: none !important;
	box-shadow: none !important;
	&:active,
	&:focus {
		background: $theme-btn-bg !important;
	}
	&:focus:hover {
		background: $theme-btn-bg-hover !important;
	}
	&:hover {
		background: $theme-btn-bg-hover !important;
	}
}
