body.view-in-course {
	.course-wrapper,
	.profile-wrapper,
	.instructor-dashboard-wrapper-2,
	.wiki-wrapper,
	.teams-wrapper,
	.static_tab_wrapper,
	.course-license {
		max-width: 1180px;
		box-sizing: border-box;
	}
}

.content-wrapper .course-tabs {
	overflow-x: auto !important;

	.navbar-nav {
		@media screen and (max-width: 760px) {
			display: none;
			flex-direction: column;
			align-items: flex-start;
		}
	}
	.nav-item,
	.tab {
		@media screen and (max-width: 760px) {
			&:last-child {
				margin-bottom: 10px;
			}
		}
	}

	.nav-item{
		&.active,
		&:hover {
			.nav-link {
				border-bottom-color: $base-color;
				color: $base-color;
			}
		}

		.nav-link{
			padding: 18px 15px 15px;
			@media screen and (max-width: 760px) {
				padding: 15px 10px 5px;
			}
		}
	}

	.tab a,
	.tab a:visited {
		border-bottom-color: $base-color;
		@media screen and (max-width: 760px) {
			padding: 13px 10px 3px;
		}
		&:not(.active){
			border-bottom-style: solid;
			border-bottom-color: transparent;
		}
		&:hover {
			border-bottom-color: inherit;
		}
	}
}

.course-material .course-tabs{
	@media screen and (max-width: 760px) {
		display: none;
		flex-direction: column;
		align-items: flex-start;
	}
}

#course-container {
	max-width: 1170px;
	padding: 0 15px;

	.page-header {
		padding: 20px;
	}

	.page-content {
		padding: 20px;
	}
}

.navbar-expand,
.wrapper-course-material {

	.hamburger-menu {
		position: static;
		width: $hamburger-width;
		height: $hamburger-height;
		margin: 15px 5px;
		padding: 5px;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;
		box-sizing: border-box;
		@media screen and (min-width: 761px) {
			display: none;
		}

		.line {
			display: block;
			position: absolute;
			height: $hamburger-height-line;
			width: 100%;
			background: $hamburger-color;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: $hamburger-height/2;
			}

			&:nth-child(4) {
				top: $hamburger-height;
			}
		}
	}

	&.course-nav-open  {

		.navbar-nav,
		.course-material .course-tabs{
			display: flex;
		}

		.hamburger-menu {
			.line {

				&:nth-child(1) {
					top: ($hamburger-height/2)-2px;
					width: 0;
					left: 50%;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					top: ($hamburger-height/2)-2px;;
					width: 0;
					left: 50%;
				}
			}
		}
	}
}

.wrapper-course-material .course-tabs .tab a:hover,
.wrapper-course-material .course-tabs .tab div.info-wrapper section.handouts ol li div.hitarea:hover+h4,
div.info-wrapper section.handouts ol li .wrapper-course-material .course-tabs .tab div.hitarea:hover+h4,
.wrapper-course-material .course-tabs .tab div.info-wrapper section.handouts ol li div.hitarea:focus+h4,
div.info-wrapper section.handouts ol li .wrapper-course-material .course-tabs .tab div.hitarea:focus+h4,
.wrapper-course-material .course-tabs .tab a:focus, .wrapper-course-material .course-tabs .tab a.active,
.wrapper-course-material .course-tabs .tab a:visited:hover,
.wrapper-course-material .course-tabs .tab div.info-wrapper section.handouts ol li div.hitarea:hover+h4:visited,
div.info-wrapper section.handouts ol li .wrapper-course-material .course-tabs .tab div.hitarea:hover+h4:visited,
.wrapper-course-material .course-tabs .tab div.info-wrapper section.handouts ol li div.hitarea:focus+h4:visited,
div.info-wrapper section.handouts ol li .wrapper-course-material .course-tabs .tab div.hitarea:focus+h4:visited,
.wrapper-course-material .course-tabs .tab a:visited:focus,
.wrapper-course-material .course-tabs .tab a:visited.active {
	color: $base-color;
}

.xmodule_display {

	&.xmodule_CourseModule,
	&.xmodule_SequenceModule,
	&.xmodule_SectionModule {
		.sequence-nav ol li button {
			overflow: hidden;
		}
	}

	&.xmodule_HtmlModule {
		img {
			max-width: 100%;

			&:not([align="right"]) {
				float: left;
			}

			&,
			&:not([align="right"]){
				@media screen and (max-width: 760px) {
					display: block;
					margin: 0 auto 10px;
					float: none;
				}
			}
		}

		#periodic-table-wrapper {
			max-width: 100%;
			overflow-x: auto;
		}
	}

	&.xmodule_VideoModule {
		.video {
			.video-wrapper {
				@media screen and (max-width: 760px) {
					margin: 0 auto 15px;
					width: 100%;
				}

				.video-player {
					@media screen and (max-width: 760px) {
						min-height: 150px;
					}
				}

				.video-player-pre,
				.video-player-post {
					@media screen and (max-width: 760px) {
						display: none;
					}
				}
			}

			.subtitles {
				@media screen and (max-width: 760px) {
					margin: 0;
					width: 100%;
				}
			}
		}
	}

	&.xmodule_CapaModule {
		.problem {
			.imageinput + div,
			.wrapper-problem-response {
				max-width: 100%;
				overflow-x: auto;
			}

			input {
				max-width: 100%;
			}

			.wrapper-problem-response center {
				@media screen and (max-width: 760px) {
					padding: 0;
					margin: 0;
					border: none;
				}
			}

			.inputtype.option-input {
				margin-top: 0;
			}
		}
	}

	&.xmodule_SequenceModule {
		.sequence-bottom {
			.sequence-nav-button {
				&:hover {
					@media screen and (max-width: 575px) {
						color: #fff;
					}
				}
			}
		}
	}
}

section.tool-wrapper {
	@media screen and (max-width: 760px) {
		display: block;
		max-width: 100%;
		margin: 0;
	}

	div#controlls-container,
	div#graph-container {
		@media screen and (max-width: 760px) {
			display: block;
			width: 100%;
		}
	}
}

#headerDiv, #contentDiv {
	max-width: 100%;

	&:after{
		content: '';
		display: table;
		clear: both;
	}

	a {
		margin: 0 5px;
		color: $theme-link;
		position: relative;
		top: -3px;

		&:hover,
		&:focus {
			color: $theme-link-hover;
		}
	}
}

.openassessment .openassessment__steps__step .step__status {
	@media screen and (max-width: 760px) {
		display: inline-block;
	}
}

.find-courses .courses-container .courses:not(.no-course-discovery) {
	@media screen and (max-width: 540px) {
		width: 100%;
		float: none;
	}
}

.find-courses .search-facets:last-child {
	@media screen and (max-width: 540px) and (min-width: 320px) {
		margin: 15px 0;
	}
}

button.accordion-trigger .fa,
button.prerequisite-button .fa {
	color: $base-color;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button.focused,
.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover,
.xmodule_display.xmodule_SequenceModule .sequence-nav-button:active,
.xmodule_display.xmodule_SequenceModule .sequence-nav-button.active,
.xmodule_display.xmodule_SequenceModule .sequence-nav button.focused,
.xmodule_display.xmodule_SequenceModule .sequence-nav button:hover,
.xmodule_display.xmodule_SequenceModule .sequence-nav button:active,
.xmodule_display.xmodule_SequenceModule .sequence-nav button.active {
	background-color: $base-color;

	@media screen and (min-width: 576px) {
		border-bottom-color: $base-color;
		background-color: #fff;
	}
}

.xmodule_display.xmodule_CapaModule div.problem .choicegroup label:hover,
.xmodule_display.xmodule_CapaModule div.problem .choicetextgroup label:hover,
.xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_CapaModule .choicegroup label:hover,
.xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_CapaModule .choicetextgroup label:hover {
	border-color: $base-color;
}

.courses-container .courses .course {
	border-bottom-color: $base-color;
}
