.content-wrapper .course-tabs .nav-item .nav-link {
	padding: 18px 15px 15px;
}
#course-container {
	max-width: 1170px;
	padding: 0 15px;
	.page-header {
		padding: 20px;
	}
	.page-content {
		padding: 20px;
	}
}
