.dashboard {
	.main-container {
		padding: 40px 20px 40px 0;
	}
	.side-container {
		padding: 40px 0 40px 20px;
	}
}

.dashboard .main-container .my-courses .course .details .enter-course {
	transition: all 0.2s ease;
	display: inline-block;
	background: $theme-btn-bg !important;
	color: $theme-btn-text-color !important;
	border: none !important;
	text-transform: uppercase;
	border-radius: 0 !important;
	&:active,
	&:focus {
		background: $theme-btn-bg !important;
	}
	&:focus:hover {
		background: $theme-btn-bg-hover !important;
	}
	&:hover {
		background: $theme-btn-bg-hover !important;
	}
}
