.wrapper-footer {
	padding: 50px 0 !important;
	text-align: center;
	background: $footer-bg;
	color: #fff;
	margin: 0 !important;
	@media screen and (min-width: 1200px) {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}
	@media screen and (max-width: 991px) {
		padding: 30px 0 10px;
	}
	footer#footer-openedx {
		width: 100%;
		max-width: 1200px !important;
		padding: 0 15px;
		a {
			border: none !important;
		}
		.colophon {
			float: none;
			width: 100%;
			text-align: center;
			.nav-colophon {
				text-align: center;
				margin: 0 0 30px;
				ol {
					margin: 0;
					padding: 0;
					li {
						float: none;
						display: inline-block;
						vertical-align: top;
						font-size: 16px;
						margin: 0 10px;
						@media screen and (max-width: 567px) {
							display: block;
							margin: 5px 0;
						}
						a {
							color: $footer-nav-link-color;
							&:focus,
							&:hover {
								border: none !important;
								color: $footer-nav-link-color-hover;
							}
						}
					}
				}
			}
		}
	}
	.footer-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		> * {
			width: 33.3333%;
			@media screen and (max-width: 991px) {
				width: 100%;
			}
		}
	}
	.icon-list {
		width: auto !important;
		@media screen and (max-width: 991px) {
			width: 100% !important;
			order: 1;
		}
	}
	.footer-support {
		display: flex;
		align-items: center;
		font-size: 12px;
		margin: 0 !important;
		@media screen and (max-width: 991px) {
			justify-content: center;
			order: 3;
		}
		span {
			margin: 0 5px
		}
		a {
			display: inline-block;
			vertical-align: top;
			color: #fff !important;
		}
		em {
			display: inline-block;
			vertical-align: top;
			font-style: normal;
			line-height: 20px;
		}
		.svg-edx {
			width: 66px;
			height: 50px;
		}

		.svg-raccoon {
			width: 20px;
			height: 20px;
		}
	}
	.footer-logo-holder {
		@media screen and (max-width: 991px) {
			order: 2;
			margin-bottom: 10px;
		}
		a {
			float: right;
			@media screen and (max-width: 991px) {
				float: none;
				display: inline-block;
			}
		}
		img {
			height: 50px;
		}
	}
	.icon-list {
		text-align: center;
		margin: 0;
		padding: 0;
		list-style: none;
		@media screen and (max-width: 991px) {
			margin-bottom: 15px;
		}
		&_item {
			margin: 0 5px;
			display: inline-block;
		}
		&_link {
			display: block;
			width: 35px;
			height: 35px;
		}
		&_svg {
			width: 35px;
			height: 35px;
			fill: $footer-social-link-bg;
			&:hover {
				fill: $footer-social-link-bg-hover;
				opacity: 0.8;
			}
		}
	}
}
