select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: 1px #c6c6c6 solid !important;
    height: 32px;
    font-size: 18px;
    box-sizing: border-box;
    color: #222;
    background: #fff url(../images/select-arrow.png) no-repeat 100% 50%;
    background-size: 27px 7px;
}