select:not(.forum-nav-filter-main-control):not(.forum-nav-sort-control),
.forum-new-post-form .post-field .field-label .field-input select.post-topic {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: 1px #c6c6c6 solid !important;
    height: 32px;
    font-size: 15px;
    box-sizing: border-box;
    color: #222;
    background: #fff url(../images/select-arrow.png) no-repeat 100% 50% !important;
    background-size: 27px 7px !important;
    padding: 0 30px 0 10px !important;
}
