.instructor-dashboard-wrapper-2 {
	textarea {
		display: block;
		height: 150px !important;
		width: 100% !important;
	}
	.instructor-nav .nav-item .btn-link:hover {
		text-decoration: none !important;
	}
}
