//general

.sysadmin-dashboard-wrapper {
	.instructor-nav {
		a {
			padding: 5px 0;
			&.active-section {
				color: #000;
			}
		}
	}
	hr {
		width: 100%;
	}
	ol {
		word-break: break-all;
	}
}
.sysadmin-dashboard-content {
	margin: 20px 0 !important;
}

.list-input {
	list-style: none;
	padding: 0;
	li {
		padding-bottom: 15px;
		input {
			width: 100% !important;
		}
	}
}

table.stat_table {
	width: 100%;
	word-break: break-all;
}
