.paragon__alert-warning {
	border-bottom: 1px solid #c8c8c8;
}
.paragon__alert-dismissible .paragon__close {
	background: none !important;
	padding: 8px 15px;
}
.wiki-wrapper section.wiki {
	.breadcrumbs-header {
		margin: 0 -15px;
	}
	.main-article {
		padding: 20px;
	}
	.article-functions {
		padding: 20px;
	}
}


// settings tab

.article-wrapper {
	.settings-form {
		.page-header {
			margin-bottom: 20px;
			padding: 10px 0;
		}
		#div_id_group_read,
		#div_id_group_write,
		#div_id_other_read,
		#div_id_other_write {
			display: flex;
			align-items: center;
			.controls {
				order: 1;
				margin-right: 10px;
				position: relative;
				top: -1px;
			}
			label {
				order: 2;
				margin: 0;
			}
		}
		#div_id_locked,
		#div_id_recursive {
			.controls {
				display: flex;
				align-items: center;
				input {
					margin-right: 10px;
				}
			}
			label {
				display: block;
			}
		}
		#id_owner_username {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}
