.form-description {
    margin: 0 -130px 0 0;
    padding: 39px 0 0;

    &_heading {
        font: 12px/12px $font-bold;
        color: #666;
    }
    &_text {
        font: 12px/15px $font-regular;
    }
}