.header-global {
    .primary>a {
        box-shadow: none;
        text-shadow: none;
        color: #fff;

        &:hover {
            background: none;
            color: $theme-color-main;
        }
    }
    .nav-global {
        margin-top: 7px;
        width: 100%;
        @media all and (min-width: 450px){
            width: auto;
        }

        .tab-nav-item .tab-nav-link {
            color: #fff;
            line-height: 18px;
            padding-bottom: 5px;
            font: 14px/1.3 muliregular;
            border-bottom: 4px solid transparent;

            &:hover,
            &.active {
                border-color: $theme-color-main !important;
            }
        }
    }
    .user {
        .dropdown {
            margin: 5px 0 0;
        }
        .user-link {
            .user-image-frame {
                max-width: 35px;
                border-radius: 50%;
            }
            .label-username {
                margin: 12px 15px 6px 10px;
            }
        }
    }
}