.header-global {
    height: auto;
    .user > .primary > a {
        color: #fff;
        box-shadow: none;
        text-shadow: none;
            
        &:focus,
        &:hover {
            color: #dd4628;
            background: transparent;
        }
    }
    .nav-global {
        margin-top: 0;
        display: block;
        width: 100%;
        @media all and (min-width: 800px) {
            width: auto;
            display: flex;
            justify-content: center;
        }

        .tab-nav-item {
            float: none;
        }
    }
    .wrapper-header .logo {
        margin-top: -2px;
        img {
            max-width: 150px;
        }
    }
    .wrapper-header .tab-nav-item .active {
        border: none;
    }
    .wrapper-header .wrapper-user-menu {
        margin-top: 0;
        -webkit-font-smoothing: auto;
    }
    .wrapper-header .list-inline.nav-global {
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: bold;
        margin-top: 0;
        -webkit-font-smoothing: auto;
    }
    .tab-nav-item,
    .wrapper-header .list-inline .item {
        display: block;
        text-decoration: none;
        font-family: $font-regular;
        height: 60px;
        line-height: 60px;
        margin: 0 !important;
        font-size: 18px;
        text-align: center;
        background: #454a4e;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        
        @media all and (min-width: 800px) {
            margin-right: 21px !important;
            display: flex;
            border: none;
            height: auto;
            line-height: inherit;
            font-size: inherit;
            text-align: left;
            background-color: transparent;
        }
    }
    .nav-global .tab-nav-item .tab-nav-link {
        color: #fff !important;
        text-transform: none;
        line-height: 60px;
        font-size: 18px;
        border: none !important;
        font-family: $font-regular;
        padding: 0;

        @media all and (min-width: 800px) {
            font-size: 16px;
            line-height: 1.3;
            padding: inherit;
        }
        
        &:focus,
        &:hover {
            color: #e46c54 !important;
            border: none !important;
        }
    }
    .user .user-link .label-username {
        margin: 15px 5px 11px 15px;
    }
    .user .dropdown {
        border-radius: 3px;
        height: 40px;
        background: transparent;

        .fa {
            display: block;
            color: #fff;
        }
    }
    .nav-courseware {
        margin-top: 0 !important;
        width: 100%;
        @media all and (min-width: 800px) {
            width: auto;
        }
    }
    .user {
        width: 100%;
        background: #454a4e;
        padding: 10px 10px;
        box-sizing: border-box;
        justify-content: center;
        @media all and (min-width: 800px) {
            width: auto;
            background: none;
            padding: 0;
        }
    }
}