<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import get_course_about_section
from django.conf import settings
from edxmako.shortcuts import marketing_link
from openedx.core.lib.courses import course_image_url
from django.template.defaultfilters import truncatechars
%>

<%inherit file="../main.html" />
<%block name="headextra">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${course.display_name_with_default_escaped}" />
  <meta property="og:description" content="${get_course_about_section(request, course, 'short_description')}" />
</%block>

<%block name="js_extra">
  ## CourseTalk widget js script
  % if show_coursetalk_widget:
      <script src="//d3q6qq2zt8nhwv.cloudfront.net/s/js/widgets/coursetalk-read-reviews.js"></script>
  % endif
  <script type="text/javascript">
  (function() {
    $(".theme-course-nav_list-link").click(function() {
        var idThis = $(this).attr("href");
        $('html, body').animate({
            scrollTop: $(idThis).offset().top-280
        }, 1000);
    });
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    % if can_add_course_to_cart:
      add_course_complete_handler = function(jqXHR, textStatus) {
        if (jqXHR.status == 200) {
          location.href = "${cart_link}";
        }
        if (jqXHR.status == 400) {
          $("#register_error")
            .html(jqXHR.responseText ? jqXHR.responseText : "${_("An error occurred. Please try again later.")}")
            .css("display", "block");
        }
        else if (jqXHR.status == 403) {
            location.href = "${reg_then_add_to_cart_link}";
        }
      };

      $("#add_to_cart_post").click(function(event){
        $.ajax({
          url: "${reverse('add_course_to_cart', args=[course.id.to_deprecated_string()])}",
          type: "POST",
          /* Rant: HAD TO USE COMPLETE B/C PROMISE.DONE FOR SOME REASON DOES NOT WORK ON THIS PAGE. */
          complete: add_course_complete_handler
        })
        event.preventDefault();
      });
    % endif

    ## making the conditional around this entire JS block for sanity
    %if settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
      <%
        perms_error = _('The currently logged-in user account does not have permission to enroll in this course. '
                        'You may need to {start_logout_tag}log out{end_tag} then try the enroll button again. '
                        'Please visit the {start_help_tag}help page{end_tag} for a possible solution.').format(
                          start_help_tag="<a href='{url}'>".format(url=marketing_link('FAQ')), end_tag='</a>',
                          start_logout_tag="<a href='{url}'>".format(url=reverse('logout'))
                          )
      %>
    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        location.href = "${reverse('dashboard')}";
      } else if (xhr.status == 403) {
        location.href = "${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}?course_id=${course.id | u}&enrollment_action=enroll";
      } else if (xhr.status == 400) { //This means the user did not have permission
        $('#register_error').html("${perms_error}").css("display", "block");
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
        ).css("display", "block");
      }
    });

    %else:

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard')}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
          location.href = "${reverse('register_user')}?course_id=${course.id | u}&enrollment_action=enroll";
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
        ).css("display", "block");
      }
    });

    %endif

  })(this)
  </script>
  <script>
    var avatarElem = document.getElementById('header-holder');

    var avatarSourceBottom = avatarElem.getBoundingClientRect().top + window.pageYOffset;

    window.onscroll = function() {
      if (avatarElem.classList.contains('theme-course-info_header-holder__fixed') && window.pageYOffset <= avatarSourceBottom) {
        avatarElem.classList.remove('theme-course-info_header-holder__fixed');
      } else if (window.pageYOffset > avatarSourceBottom) {
        avatarElem.classList.add('theme-course-info_header-holder__fixed');
      }
    };
  </script>
  <script>
    
  </script>
  <script src="${static.url('js/course_info.js')}"></script>
</%block>

<%block name="pagetitle">${course.display_name_with_default_escaped}</%block>

<section class="theme-course-info">
  <div class="theme-course-info_header-helper">
    <div id="header-holder" class="theme-course-info_header-holder">
      <div class="theme-course-info_header-wrapper">
        <header class="theme-course-info_header">
          <div class="intro-inner-wrapper">
            <div class="theme-about">
              % if get_course_about_section(request, course, "video"):
              <a href="#video-modal" class="theme-about_media-holder" rel="leanModal">
                <div class="hero">
                  <img class="theme-about_img" src="${course_image_urls['large']}" alt="" />
                  <div class="theme-about_play"></div>
                </div>
              </a>
              %else:
              <div class="theme-about_media-holder">
                <div class="hero">
                  <img class="theme-about_img" src="${course_image_urls['large']}" alt="" />
                </div>
              </div>
              % endif
              <section class="theme-about_intro">
                <div class="theme-about_text">${course.display_org_with_default | h}</div>
                <h2 class="theme-about_title">${course.display_name_with_default_escaped}</h2>
                <p class="theme-about_description">${get_course_about_section(request, course, 'short_description')}</p>
                
                <div class="theme-about_btn-holder">
                %if user.is_authenticated() and registered:
                  %if show_courseware_link:
                    <span class="register disabled">${_("You are enrolled in this course")}</span>
                    <a href="${course_target}" class="theme-btn-2">
                      ${_("View Course")}
                    </a>
                  %endif

                %elif in_cart:
                  <span class="add-to-cart">
                    ${_('This course is in your <a href="{cart_link}">cart</a>.').format(cart_link=cart_link)}
                  </span>
                % elif is_course_full:
                  <span class="register disabled">
                    ${_("Course is full")}
                  </span>
                % elif invitation_only and not can_enroll:
                  <span class="register disabled">${_("Enrollment in this course is by invitation only")}</span>
                ## Shib courses need the enrollment button to be displayed even when can_enroll is False,
                ## because AnonymousUsers cause can_enroll for shib courses to be False, but we need them to be able to click
                ## so that they can register and become a real user that can enroll.
                % elif not is_shib_course and not can_enroll:
                  <span class="register disabled">${_("Enrollment is Closed")}</span>
                %elif can_add_course_to_cart:
                  <%
                  if user.is_authenticated():
                    reg_href = "#"
                    reg_element_id = "add_to_cart_post"
                  else:
                    reg_href = reg_then_add_to_cart_link
                    reg_element_id = "reg_then_add_to_cart"
                  %>
                  <% if ecommerce_checkout:
                      reg_href = ecommerce_checkout_link
                      reg_element_id = ""
                  %>
                  <a href="${reg_href}" class="add-to-cart" id="${reg_element_id}">
                    ${_("Add {course_name} to Cart <span>({price} USD)</span>")\
                      .format(course_name=course.display_number_with_default, price=course_price)}
                  </a>
                  <div id="register_error"></div>
                %else:
                  <% 
                    if ecommerce_checkout:
                      reg_href = ecommerce_checkout_link
                    else:
                      reg_href="#"
                    if professional_mode:
                      href_class = "add-to-cart"
                    else:
                      href_class = "register"
                  %>
                  <a href="${reg_href}" class="${href_class} theme-btn-2">Enroll</a>
                  <div id="register_error"></div>
                %endif
                </div>

              </section>
            </div>
          </div>
          <nav class="theme-course-nav">
            <ul class="theme-course-nav_list">
              <li class="theme-course-nav_list-item"><a href="#about" class="theme-course-nav_list-link">ABOUT THIS COURSE</a></li>
              <li class="theme-course-nav_list-item"><a href="#prerquisites" class="theme-course-nav_list-link">PREREQUISITES</a></li>
              <li class="theme-course-nav_list-item"><a href="#staff" class="theme-course-nav_list-link">COURSE STAFF</a></li>
              <li class="theme-course-nav_list-item"><a href="#faq" class="theme-course-nav_list-link">FAQ</a></li>
            </ul>
            <ul class="theme-course-nav_social">
              <li class="theme-course-nav_social-item"><a href="https://www.facebook.com/theLLPA" target="_blank" class="theme-course-nav_social-link"><span class="icon fa fa-facebook" aria-hidden="true"></span></a></li>
              <li class="theme-course-nav_social-item"><a href="https://twitter.com/theLLPA" target="_blank" class="theme-course-nav_social-link"><span class="icon fa fa-twitter" aria-hidden="true"></span></a></li>
              <li class="theme-course-nav_social-item"><a href="mailto:&#116;&#114;&#097;&#105;&#110;&#105;&#110;&#103;&#064;&#116;&#104;&#101;&#108;&#108;&#112;&#097;&#046;&#099;&#111;&#109;" class="theme-course-nav_social-link"><span class="icon fa fa-envelope" aria-hidden="true"></span></a></li>
            </ul>
          </nav>
        </header>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="ugc">
      % if staff_access and studio_url is not None:
        <div class="wrap-instructor-info studio-view">
          <a class="instructor-info-action" href="${studio_url}">${_("View About Page in studio")}</a>
        </div>
      % endif

      <div class="inner-wrapper">
        <!-- ${get_course_about_section(request, course, "overview")} -->
        <h2 id="about">About this course</h2>
        <p>There are many programming languages in use today. Choosing a language to program with can be decided based on many factors such as learning curve, job specific requirements, platform specifics, or a plethora of other criteria.</p>
        <p>Mobile devices are beginning to dominate the landscape in consumer and enterprise areas. That means a demand for more applications on these devices. The major players in this market, Apple, Google, and Microsoft, all have mobile platforms. Google uses Android for the OS and Java as the programming language, Apple uses iOS and Objective-C or Swift as the programming language, while Microsoft uses Windows and .NET. </p>
        <p>What is the one thing that ties all these platforms and C# together? You can write your application code in C# and deploy it on all three platforms. Microsoft and Xamarin provide a cross-platform development toolset that allow you to write your code once, in C#, and deploy it across all three device platforms, saving you coding time. That's why C# is such a great language to learn.</p>
        <h2 id="prerquisites">Prerquisites</h2>
        <p>Developers attending this course should already have gained some experience with another programming language or understand programming constructs such as:</p>
        <ul>
          <li>Looping</li>
          <li>Program Flow</li>
          <li>Database Concepts</li>
        </ul>
        <h2 id="staff">Course staff</h2>
        <div class="staff-box">
          <img src="/static/${settings.DEFAULT_SITE_THEME}/images/avatar.png" alt="staff avatar" class="staff-box_avatar">
          <div class="staff-box_holder">
            <h3>Gerry O'Brien</h3>
            <p>Gerry O'Brien is a Senior Content Development Manager at Microsoft Learning with a focus on software development and database platforms. He has over 18 years of industry experience working in various roles and programming with various languages such as:</p>
            <ul>
              <li>Software Developer and Consultant</li>
              <li>Book and courseware author</li>
              <li>Microsoft Certified Trainer</li>
              <li>C#</li>
              <li>Visual Basic</li>
              <li>Java</li>
              <li>Objective-C</li>
            </ul>
          </div>
        </div>
        <h2 id="faq">Frequently asked questions</h2>
        <h3>Do I need to buy a textbook?</h3>
        <p>No. A textbook is not required for this course however, we recommend that you consider purchasing the Step-by-Step Visual C# book from Microsoft Press. The course will use the companion content from this book for the practice sessions throughout the course. If you do not own the book, you can still download the companion content from the site and use it as part of this course. If you enjoy the practice files, you may want to come back to the site to purchase the book as a means of continuing your self-study and skills development after the course.</p>
        <h3>Do I have to complete this course in module order?</h3>
        <p>No. Feel free to skip units that are familiar with. You may want to review the Self-Checks in these units however to ensure you understand the material in units you decide to skip.</p>
      </div>
  </div>
## CourseTalk widget
      % if show_coursetalk_widget:
      <ul style="padding: 0 0 0 0;">
      <li style="list-style: none;">
      <div class="coursetalk-read-reviews">
          <div id="ct-custom-read-review-widget" data-provider="${platform_key}" data-course="${course_review_key}"></div>
      </div>
      </li>
      </ul>
      % endif
  </div>

  </div>
</div>

## Need to put this hidden form on the page so that the registration button works.
## Since it's no harm to display a hidden form, we display it with the most permissive conditional
## which is when the student is not registered.
%if active_reg_button or is_shib_course:
  <div style="display: none;">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <legend class="sr">${_("Enroll")}</legend>
        <input name="course_id" type="hidden" value="${course.id | h}">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <div class="submit">
        <input name="submit" type="submit" value="${_('enroll')}">
      </div>
    </form>
  </div>
%endif

<%include file="../video_modal.html" />
