.viewall-top-btn {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
}
.viewall-top-btn a:hover {
    color: #ffffff !important;
    background: #ba360f;
    text-decoration: none;
}

@media screen and (min-width : 1170px) {
.viewall-top-btn a {
    position: absolute;
    right: 40px;
    top: -35px;
    color: #fff;
    background: #dd4628;
    border-radius: 3px;
    line-height: 36px;
    display: block;
    padding: 0 20px;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
}
}