.viewall-top-btn {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    display: none;
    text-align: center;

    @media all and (min-width: 1170px) {
        display: block;
    }

    &.mobile {
        display: block;
        margin-bottom: 30px;
        @media all and (min-width: 1170px) {
            display: none;
        }
    }
}

.viewall-top-btn a:hover {
    color: #ffffff !important;
    background: #ba360f;
    text-decoration: none;
}
.viewall-top-btn a {
    display: none;
}

.viewall-top-btn a {
    position: absolute;
    right: 0;
    top: -73px;
    color: #fff;
    background: #dd4628;
    border-radius: 3px;
    line-height: 36px;
    display: block;
    padding: 0 20px;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
    visibility: hidden;

    @media all and (min-width: 1170px) {
        visibility: visible;
    }
}
.viewall-top-btn.mobile a {
    position: static;
    margin: 0 auto;
    display: inline-block;
    visibility: visible;

    @media all and (min-width: 1170px) {
        visibility: hidden;
    }
}
