.promo-box {
    position: relative;
    margin: 0 auto 40px;
    max-width: 1600px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: auto;
    padding: 10px 0;
    min-height: 200px;
    justify-content: center;
    background: url("../images/promo-box/banner.jpg") 50% 15%;
    background-size: cover;
    @media all and (min-width: 800px){
        height: 500px; //ie
        min-height: 500px;
    }

    &__course {
        min-height: 350px;
        @media (max-width: $res_450) {
            padding: 20px 0;
            height: auto;
        }
    }
    &_img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 1600px;
    }
    &_text {
        display: block;
        font: 24px/1 muliregular;
        color: #fff;
        text-transform: uppercase;
    }
    &_heading {
        font: 40px/1.3 'Work Sans', sans-serif;
        color: #fff;
        font-weight: 800;
        @media all and (min-width: 800px){
            display: block;
            font: 60px/1.3 'Work Sans', sans-serif;
            text-transform: uppercase;
            margin: 0 0 18px;
        }
    }
    &_link {
        font: 16px/1.3 muliregular;
        display: inline-block;
        background: #74bb00;
        padding: 13px 14px 12px;
        color: #fff !important;
        text-transform: uppercase;
    }
    &_helper {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: .5;
    }
    &_description {
        margin-bottom: 25px;
        color: #fff;
        font: 24px/1.3 'Work Sans', sans-serif;
        @media (max-width: 800px) {
            display: none;
        }
    }
    &_holder {
        position: relative;
        text-align: center;
        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
        }
    }
};