.promo-box {
    position: relative;
    margin: 0 auto 66px;
    max-width: 1600px;
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 200px;
    justify-content: center;
    @media all and (min-width: 800px){
        min-height: 500px;
    }

    &__course {
        min-height: 350px;
    }

    &_img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &_text {
        display: none;
        @media all and (min-width: 860px){
            display: block;
            font: 24px/1 muliregular;
            color: #fff;
            text-transform: uppercase;
        }
    }
    &_heading {
        display: none;
        @media all and (min-width: 800px){
            display: block;
            font: 60px/1.3 'Work Sans', sans-serif;
            color: #fff;
            font-weight: 800;
            text-transform: uppercase;
            margin: 0 0 48px;
        }
    }
    &_link {
        font: 16px/1.3 muliregular;
        display: inline-block;
        background: #74bb00;
        padding: 13px 14px 12px;
        color: #fff !important;
        text-transform: uppercase;
    }
    &_helper {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: .2;
    }
    &_holder {
        position: relative;
        text-align: center;
    }
};