/****************************************************************************************************
*   Stanford Theming File
*
*   Contains all the theme color definitions for the Stanford Open Source MOOC Project
*
****************************************************************************************************/

//-----------------
//  Color variables (from Stanford palette unless noted)
//-----------------

//Main Color Variables
$main-color: #b5b4b5;
$dark-color: #919191; //Link Color
$light-color: #f4e00c; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$bg-color: #f7fe81; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//Main BG Color Variables
$main-bg: #dedede;     // customized by Sendr
$main-bg-60: lighten($main-bg, 18.5%); //Main Border/HR Color
$main-bg-25: lighten($main-bg, 25%); 

//Secondary Color Variables
$secondary: #b5a4b7;
$secondary-50: lighten($secondary, 9%);
$secondary-25: lighten($secondary, 20%); //Important Heading BG Color 

//Gray Color Variables
$gray: #3f3f3f; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #e9e9e9; //Block/Course BG Color
$gray-2: #f2f2f2;
$gray-1: #fbfbfb; //Main BG Color
$white: $gray-1;

$black: #2e2e2e;
$black-80: #585858;



//-----------------
//  Font Assignment
//-----------------

$theme-sans-font: 'Source Sans';
$sans-serif: $theme-sans-font, $sans-serif;
$body-font-family: $sans-serif;

$theme-serif-font: 'Crimson Text';
$serif: $theme-serif-font, $serif;
$text-color: #ffffff;



//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $gray-1;
$container-bg: $gray-1;
//$login-register-bg: $cust-background;
//$content-wrapper-bg: $cust-background;
$header-image: none;
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($secondary, 18.5%), .25);
$courseware-footer-border: 1px solid $main-bg-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-2: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-3: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-4: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-5: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-6: linear-gradient($main-bg-60 0%, $main-bg-60);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;

$link-color: $dark-color;
$link-color-d1: $dark-color;
$link-hover: $light-color;
$site-status-color: $bg-color;

$header-graphic-super-color: $dark-color;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $dark-color;
$header-link-hover: $light-color;

$button-color: $main-color;
$button-archive-color: $gray-3;

$shadow-color: $gray;

// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;

// actions - primary
$action-primary-bg: $main-color;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-color;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $dark-color;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: $secondary;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $secondary-50;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $secondary-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: $main-bg-60;
$border-color-2: $main-bg-60;
$border-color-3: $main-bg-60;
$outer-border-color: $main-bg-60;

$sidebar-color: $gray-1;

$homepage__header--gradient__color--alpha: $secondary-25;
$homepage__header--gradient__color--bravo: $secondary-25;
$homepage__header--background: $secondary-25;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $secondary-25;
$dashboard-profile-color: $gray-3;
$dot-color: $main-bg-60;

$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

// Container background
//$homepage-bg-image: url('../themes/default/images/background-repeat-retina.png');

//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../themes/default/images/Back_main.jpg');

$login-banner-image: none;
$register-banner-image: none;

$video-thumb-url: '../themes/default/images/edx.png';


// my variables

$header-bg: linear-gradient(to bottom, rgb(53,53,73), rgb(37,37,54));// transparentize(lighten($secondary, 18.5%), .25);
$footer-bg: linear-gradient(to bottom, rgb(53,53,73), rgb(37,37,54)); // $secondary-25;



//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    top: 0;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}

.find-courses {
  background: url('../themes/default/static/images/background-repeat_retina.png') !important;
  background-size: 393px 396px !important;
}

header.global {
  border-bottom: none;

  .nav-courseware {
    a.cta:hover {
      color: #ffffff !important;
      background-color: #72bb25 !important;
    }
    li {
      .cta {
        background: #b5b4b5;
        color: #222222;
      }
    }
  }

  h1.logo {
    margin: -18px 39px 0 0 !important;

    a:hover {
      opacity: 0.8;
    }
  }
  h1.logo:after {
    background-image: -webkit-linear-gradient(#fff 0%, #fff);
    background-image: linear-gradient(to , #fff);
    background: transparent;
    height: 100%;
    width: 1px;
  }
  .nav-global {
    li {
      a {
        color: #b5b4b5;
      }
      a:hover {
        color: #72bb25 !important;
      }
    }
  }
}

header.global.slim {
  h1.logo {
    img {
      height: 60px !important;
      margin-top: 8px !important;
    }
  }

  h1.logo::before {
    background-image: none !important;
  }
  h2 {
    text-shadow: none !important;
    color: #b5b4b5 !important;
    width: inherit !important;

    .provider {
      color: #b5b4b5 !important;
    }
  }
}

.inner-wrapper {
  padding: 0 5px !important;

  hgroup {
    background: #fbfbfb !important;
  }
}

.wrapper-footer {
  margin-top: 0 !important;
  border-top: none;

  footer {
    a:hover {
      border-bottom: 0;
    }
    .colophon {
      .nav-colophon {
        ol {
          li {
            a {
              color: #b5b4b5;
            }
            a:hover {
              text-decoration: none;
              color: #72bb25 !important;
            }
          }
        }
      }
    }
  }
}

.references {
  span {
    color: #b5b4b5;
    a {
      color: #b5b4b5;
    }
    a:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

.content-wrapper {
  width: flex-grid(12);
  margin: 0 auto;
  background: url("../themes/default/images/background-repeat_retina.png") !important;
  background-size: 393px 396px !important;
  padding-bottom: ($baseline*2);
}

.view-register {
  .content-wrapper {
    background: url("../themes/default/images/background-repeat_retina.png");
    background-size: 393px 396px;
  }
}

//.cta {
//  .cta-login {
//    background: #b5b4b5;
//    color: #222222;
//
//    a:hover {
//      color: #ffffff;
//    }
//  }
//}

.home {
  header {
    border-bottom: 0 !important;

    .outer-wrapper {
      padding: 168px 10px 0 !important;
    }

    .title {
      background: #fbfbfb !important;
      margin-left: 0 !important;
      margin: 0 auto !important;
      float: none !important;
      width: 98.15254% !important;
      text-align: center;

      hgroup {
        text-align: center;

        h1 {
          text-align: center;
        }
      }
    }
  }
}

.course-material {
  .course-tabs a:hover {
    background-color: #B8DD92 !important;
  }
  ol.course-tabs {
    a.active {
      background-color: #7E7E7E !important;
    }
  }
}

.course-index {
  div#accordion {
    h3.ui-accordion-header {
      a {
        color: #3992D6 !important;
      }
    }
  }
}

.find-courses {
  header.search {
    .inner-wrapper {
      hgroup {
       width: 93%;
      }
    }
  }
}

.dashboard {
  .my-courses {
    .course {
      .info {
        hgroup {
          h3 {
            a {
              color: #7e7e7e !important;
            }
          }
        }
      }
    }
  }
}

.references {
    span.raccoongang {
        float: left;
        img {
            height: 32px;
        }
    }
}

.login-register {
  .form-wrapper {
    padding-bottom: 25px;
  }
}

.course-title {
  a {
    color: #8A8A8A;
  }
}

.u-field-message {
  .u-field-message-notification {
    color: #5f5f5f;

    a {
      color: #757575;
    }
    a:hover, a:visited {
      color: #72bb25;
    }
  }
}

.u-field-value-readonly {
  span:hover, span:visited {
    color: #676767 !important;
  }
}

.u-field.mode-placeholder {
  span {
    color: #6b6b6b !important;
  }
}

.view-passwordreset {
  .wrapper-footer {
    footer {
      width: 100% !important;
      margin: auto !important;
    }
  }
}

.view-passwordreset {
  .introduction header {
    background: none !important;
  }
}

.view-passwordreset {
  header.global {
     nav {
      width: 100% !important;
    }
  }
}

.course-info {
  header.course-profile {
    padding-top:50px !important;
    height: initial !important;

    .intro-inner-wrapper {
      margin-bottom: 20px !important;
    }
  }
}
