.theme-course-info {
    max-width: 1080px;
    margin: 0 auto;
    background: #fff;

    &_header {
        background: #fff;
    }
    &_header-holder {
        &__fixed {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
    &_header-wrapper {
        max-width: 1080px;
        margin: 0 auto;
    }
    &_header-helper {
        min-height: 260px;
    }
}