.theme-about {
    display: flex;
    min-height: 206px;

    &_media-holder {
        width: 310px;
        min-width: 310px;
        position: relative;
        overflow: hidden;
    }
    &_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }
    &_play {
        @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.65), rgba(0,0,0, 0.75)));
        border-radius: 4px;
        box-shadow: 0 1px 12px 0 $shadow-d1;
        border: 2px solid rgba(255,255,255, 0.8);
        height: 80px;
        @include left(50%);
        margin-top: -40px;
        @include margin-left(-40px);
        position: absolute;
        top: 50%;
        width: 80px;

        &:after {
            color: rgba(255,255,255, 0.8);
            content: "\25B6";
            display: block;
            font: normal 2em/1em $sans-serif;
            @include left(50%);
            @include margin-left(-11px);
            margin-top: -16px;
            position: absolute;
            text-shadow: 0 -1px rgba(0,0,0, 0.8);
            top: 50%;
        }
    }
    &_intro {
        padding: 19px 20px 65px 29px;
        position: relative;
        width: 100%;
    }
    &_text {
        font: 18px/1.3 $font-bold;
        color: #a3a3a3;
        padding-right: 4px;
    }
    &_title {
        font: 34px/1.3 $font-light;
        color: #666;
        margin-top: 0;
    }
    &_btn-holder {
        position: absolute;
        bottom: 30px;
        width: 100%;
    }
    &_description {
        margin-bottom: 13px;
    }
}