## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<ol class="header-list">
  <%block name="navigation_global_links">
    % if static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False)):
      <li class="header-list_item">
        <a class="header-list_link" href="${marketing_link('HOW_IT_WORKS')}">${_("How it Works")}</a>
      </li>
      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <li class="header-list_item">
          <a class="header-list_link" href="${marketing_link('COURSES')}">${_("Courses")}</a>
        </li>
      % endif
      <li class="header-list_item">
        <a class="header-list_link" href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
      </li>
    % endif
  </%block>

  <%block name="navigation_other_global_links">
    % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
      % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
        <li class="header-list_item">
          <a class="header-list_link" href="/courses">${_("Explore Courses")}</a>
        </li>
      %endif
    % endif
  </%block>
</ol>
<div class="theme-header__block">
  <ol class="login-btns-list">
    <%block name="navigation_sign_in">
      <li class="login-btns-list_item">
          % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
            % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
              <a class="theme-btn" href="${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}">${_("Register")}</a>
            % elif static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION')):
              <a class="theme-btn" href="/register${login_query()}">${_("Register")}</a>
            % endif
          % endif
      </li>
      <li class="login-btns-list_item">
        % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
          % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
            <a class="theme-btn" href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}">${_("Sign in")}</a>
          % else:
            <a class="theme-btn" href="/login${login_query()}">${_("Sign in")}</a>
          % endif
        % endif
      </li>
    </%block>
  </ol>
</div>