// Our overrides for settings we want to change.
@import 'const';
@import 'fonts';
@import 'mixins';
$theme-img-path: "../themes/default/images/box-new/";
@import "box-new/box-new";
$theme-img-path: "../themes/default/images/header-info/";
@import "header-info/header-info";
$theme-img-path: "../themes/default/images/nav-wrapper/";
@import "nav-wrapper/nav-wrapper";
$theme-img-path: "../themes/default/images/theme-courses/";
@import "theme-courses/theme-courses";
$theme-img-path: "../themes/default/images/theme-main-nav/";
@import "theme-main-nav/theme-main-nav";
$theme-img-path: "../themes/default/images/new-footer/";
@import "new-footer/new-footer";
@import "promo-box/promo-box";

// Import the original styles from edx-platform.
@import 'lms/static/sass/lms-main';