a.theme-btn-2, 
.theme-btn-2 {
    font: 20px/1.3 $font-bold;
    text-transform: none;
    color: #fff;
    background: #dd4628;
    border-radius: 3px;
    padding: 8px 27px 5px;
    box-shadow: 0px 3px 0px 0px #9a311c;
    text-shadow: none;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;

    &:focus,
    &:hover {
        background-color: darken(#dd4628, 10%);
        color: #fff;
        text-decoration: none;
    }
}