.window-wrap {
    min-height: 100%;
    padding-bottom: 232px;
    margin: 0 0 -232px;
    box-sizing: border-box;
    .animation-home-header-pop-up, 
    .home .outer-wrapper {
        animation: none;
    }
}
body.view-in-course .window-wrap {
    min-width: 320px
}