.icon-list {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    &_item {
        margin: 0 5px;
    }
    &_link {
        display: block;
        width: 35px;
        height: 35px;
        font-size: 0;
        line-height: 0;
        text-indent: -9999px;

        &__facebook {
            background: url('#{$img-path}/ico-facebook.svg');
        }
        &__instagramm {
            background: url('#{$img-path}/ico-instagram.svg');
        }
        &__twitter {
            background: url('#{$img-path}/ico-twitter.svg');
        }
        &__linkedin {
            background: url('#{$img-path}/ico-linkedIn.svg');
        }
        &__youtube {
            background: url('#{$img-path}/ico-youtube.svg');
        }
    }
}