.icon-list {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    &_item {
        margin: 0 5px;
    }
    &_link {
        display: block;
        width: 35px;
        height: 35px;
        font-size: 0;
        line-height: 0;
        text-indent: -9999px;
        background: url('#{$img-path}/footer-icon.png');

        &__facebook {
            background-position: 0 0;
        }
        &__instagramm {
            background-position: -45px 0;
        }
        &__twitter {
            background-position: -90px 0;
        }
        &__linkedin {
            background-position: -135px 0;
        }
        &__youtube {
            background-position: -180px 0;
        }
    }
}