<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact Us")}</h1>
	<p>${_("")}</p>
	<p>${_("Phone no. (254) 780 742274")}</p>	
	<p>${_("Email: info@sibasi.com")}</p>
	<p>${_("")}</p>
	<p>${_("Or Visit us at:")}</p>
 	<p>${_("327B, Nyati Drive, Thome, Nairobi Kenya. ")}</p>
    </section>
</main>
