<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("How to use")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("How to use?")}</h1>
        <h2>1. Sign up</h2>
        <p>Getting started is easy, you need to <a href="https://training.thellpa.com/register">create your llpa training account</a>. It gives you access to all available (current and future) courses, which are available anytime and anywhere.</p>
        <p id="sign-up-link"><a href="https://training.thellpa.com/register">SIGN UP NOW</a></p>
        <h2>2. Enroll in a course</h2>
        <p>Earn on your own schedule, you can take courses anytime and anywhere.</p>
        <h2>3. Earn certificates</h2>
        <p>Earn recognition for your work and share your skills and knowledge with others.</p>
    </section>
</main>
