.theme-header-info {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 14px 15px 25px;
    @media all and (min-width: 1600px){
        padding-left: 0;
        padding-right: 0;
    }

    &_contact {
        order: 1;
    }
    &_social {
        order: 2;
    }
    &_text {
        font-size: 12px;
        line-height: 15px;
        color: $theme-color-grey;
    }
    &_phone {
        @include inline-block;
        font-size: 12px;
        line-height: 15px;
        color: $theme-color-grey;
        padding-left: 18px;
        background: url('#{$theme-img-path}phone.png') no-repeat 0 50%;
        margin-left: 28px;
    }
    &_mail {
        @include inline-block;
        font-size: 12px;
        line-height: 15px;
        color: $theme-color-grey;
        background: url('#{$theme-img-path}mail.png') no-repeat 0 50%;
        padding-left: 18px;
        margin-left: 18px;
    }
    &_social-list {
        @include inline-block;
        font: 0/0 a;
        margin: 0;
        padding: 0 0 0 16px;
        list-style: none;
    }
    &_item {
        @include inline-block;
        padding-left: 16px;

        &:first-child {
            padding-left: 0;
        }
    }
    &_twitter {
        @include inline-block;
        width: 18px;
        height: 12px;
        background: url('#{$theme-img-path}twitter.png');
    }
    &_facebook {
        @include inline-block;
        width: 7px;
        height: 15px;
        background: url('#{$theme-img-path}facebook.png');
    }
    &_linkedin {
        @include inline-block;
        width: 15px;
        height: 14px;
        background: url('#{$theme-img-path}linkedin.png');
    }
}