/*
Syntax error: Undefined variable: "$theme-color-main".
        on line 122 of /edx/app/edxapp/themes/lms/static/sass/theme-courses/theme-courses.scss

117:         }
118:     }
119:     &_ico-holder {
120:         padding-right: 5px;
121:         font-size: 28px;
122:         color: $theme-color-main;
123:     }
124: }

Backtrace:
/edx/app/edxapp/themes/lms/static/sass/theme-courses/theme-courses.scss:122
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/script/tree/node.rb:50:in `perform'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/stack.rb:79:in `block in with_base'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/stack.rb:121:in `with_frame'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/stack.rb:79:in `with_base'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:389:in `map'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/stack.rb:79:in `block in with_base'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/stack.rb:121:in `with_frame'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/stack.rb:79:in `with_base'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:389:in `map'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/stack.rb:79:in `block in with_base'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/stack.rb:121:in `with_frame'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/stack.rb:79:in `with_base'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `map'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:151:in `visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/tree/root_node.rb:20:in `render'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/engine.rb:275:in `block in render'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/util.rb:442:in `silence_sass_warnings'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/engine.rb:275:in `render'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:186:in `each'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/plugin.rb:82:in `update_stylesheets'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/exec.rb:489:in `watch_or_update'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/exec.rb:346:in `process_result'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/exec.rb:43:in `parse'
/edx/app/edxapp/.gem/gems/sass-3.3.5/lib/sass/exec.rb:22:in `parse!'
/edx/app/edxapp/.gem/gems/sass-3.3.5/bin/sass:13:in `<top (required)>'
/edx/app/edxapp/edx-platform/bin/sass:16:in `load'
/edx/app/edxapp/edx-platform/bin/sass:16:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$theme-color-main\".\A         on line 122 of /edx/app/edxapp/themes/lms/static/sass/theme-courses/theme-courses.scss\A \A 117:         }\A 118:     }\A 119:     &_ico-holder {\A 120:         padding-right: 5px;\A 121:         font-size: 28px;\A 122:         color: $theme-color-main;\A 123:     }\A 124: }"; }
