.dashboard .my-courses .course .details {
    .wrapper-course-actions {
        width: auto !important;
    }
    .course-actions .action {
        height: 35px;
        padding: 8px !important;
        color: $theme-color-main !important;
    }
} 