.find-courses {
    padding-bottom: 0;

    .content-search-wrap {
        position: relative;
        width: 100%;
        text-align: right;
        padding: 5px 0 11px;
    }

    .search-btn {
        background: transparent;
        border: none;
        box-shadow: none;
        text-shadow: none;
        color: $base-color;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 12px;
        padding: 0;
        line-height: normal;
        letter-spacing: 0;
        transition: color 0.15s linear;

        &:focus,
        &:hover,
        &:hover:not(:disabled),
        &:focus:not(:disabled) {
            color: $link-hover;
            background: transparent;
            box-shadow: none;

            svg {
                fill: $link-hover;
            }
        }

        @media (max-width: 991px) {
            padding-top: 2px;
        }

        svg {
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 22px;
            fill: $base-color;
            transition: fill 0.15s linear;
            margin-right: 10px;
        }
    }

    .content-search {
        &.search_open {
            .course-search {
                opacity: 1;
                visibility: visible;
                padding: 0;
            }

            .discovery-submit {
                left: 0;
            }
        }

        .course-search {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
            display: flex;
            background: #f2f2f2;
            align-items: center;
            justify-content: center;
            transition: opacity .2s linear;
            overflow: hidden;

            form {
                position: relative;
                width: 555px;
                max-width: 100%;
            }

            .discovery-input {
                width: 100%;
                padding: 5px 25px 5px 35px;
                box-shadow: none;
                text-shadow: none;
                border: none;
                border-bottom: 2px solid $base-color2;
                border-radius: 0;
                background: transparent;
                color: $field-label-color;
                font-size: 13px;
                font-style: normal;
                height: auto;

                &:focus {
                    outline: none;
                }

                &:hover,
                &:focus {
                    border-bottom-color: $base-color;
                }

                &::placeholder {
                    color: $base-color2;
                }
            }

            .discovery-submit {
                border: none;
                background: transparent;
                border-radius: 0;
                box-shadow: none;
                padding: 0;
                position: absolute;
                top: 0;
                width: 24px;
                height: auto;

                &:hover,
                &:focus {
                    opacity: .8;
                }

                svg {
                    display: inline-block;
                    vertical-align: middle;
                    width: 24px;
                    height: 22px;
                    fill: $base-color;
                }
            }

            .search-close {
                border: none;
                background: transparent;
                border-radius: 0;
                box-shadow: none;
                padding: 0;
                position: absolute;
                right: 0;
                top: 0;

                &:hover,
                &:focus {
                    opacity: .8;
                }

                svg {
                    display: inline-block;
                    vertical-align: middle;
                    width: 16px;
                    height: 16px;
                    fill: $base-color;
                }
            }
        }
    }

    .wrapper-search-context {
        width: 100%;

        @media (max-width: 767px) {
            order: 1;
            margin-left: 0;
        }

        .search-status-label {
            width: 100%;
            min-height: auto;
            margin-right: 0;
            font-size: 18px;
            font-weight: 900;
            text-transform: uppercase;
            color: $field-label-color;
            line-height: 22px;
            margin-top: 35px;

            @media (max-width: 991px) {
                margin-top: 25px;
            }
        }
    }

    #filter-bar {
        @media (max-width: 767px) {
            order: 2;
        }
    }

    .courses-container {
        padding: 0;

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .courses {
            padding: 6px 0 0;

            @media (max-width: 991px) {
                padding-bottom: 0;
            }

            @media (max-width: 767px) {
                order: 4;
            }

            &:not(.no-course-discovery) {
                @media (max-width: 541px) {
                    margin-right: 0;
                    width: 100%;
                }

                .courses-listing .courses-listing-item {
                    @media (min-width: 980px) {
                        margin-right: 3.4%;
                        width: 31%;
                    }
                }
            }

            .courses-listing .courses-listing-item {
                margin-top: 0;
                margin-bottom: 30px;

                .course {
                    border-radius: 10px;
                    overflow: hidden;
                    box-shadow: 0 6px 11px 0 rgba(38, 54, 84, 0.05);
                    border: 1px solid $white;
                    margin-bottom: 0;

                    .cover-image {
                        background: $course-poster-bg;
                        height: 150px;

                        @media (max-width: 541px) {
                            height: 170px;
                        }

                        &:before {
                            height: 150px;

                            @media (max-width: 541px) {
                                height: 170px;
                            }
                        }

                        img {
                            opacity: .7;
                            min-height: 100%;
                        }
                    }

                    .learn-more {
                        font-size: 12px;
                        font-weight: 900;
                        text-transform: uppercase;
                        color: $white;
                        background: $base-color;
                        border: 1px solid $base-color;
                        padding: 9px 15px;
                        margin: 0;
                        line-height: 1.3;
                        border-radius: 10px;
                        min-width: 185px;
                        transition: all 0.15s linear;
                        height: auto;
                    }

                    .course-info {
                        height: auto;
                        padding: 5px 16px 15px;
                    }

                    .course-name {
                        margin-bottom: 6px;
                    }

                    .course-organization,
                    .course-code {
                        color: $base-color2;
                        font-size: 14px;
                        line-height: 1.2;
                        font-weight: 600;
                        display: inline-block;
                        padding: 0;
                    }

                    .course-organization {
                        margin-right: 2px;

                        &:after {
                            content: "/";
                            margin-left: 5px;
                        }
                    }

                    .course-title {
                        padding: 0;
                        font-size: 14px;
                        font-weight: 900;
                        text-transform: uppercase;
                        color: #111827;
                        margin-bottom: 10px;
                        overflow: hidden;
                    }

                    .course-date {
                        font-size: 12px;
                        font-weight: 600;
                        color: $field-label-color;
                        padding: 0;
                        line-height: 1.2;

                        &:before {
                            content: '';
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            background: url('../images/icon-clock.svg') no-repeat center center;
                            background-size: cover;
                            position: relative;
                            top: 2px;
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }

    .search-facets {
        border-radius: 10px;
        overflow: hidden;
        margin-top: 6px;

        @media (max-width: 991px) {
            margin-bottom: 20px;
        }

        @media (max-width: 767px) {
            order: 3;
        }

        .header-search-facets {
            font-size: 14px;
            font-weight: 900;
            color: $base-attention-color;
            text-transform: uppercase;
            padding: 15px;
        }

        .facet-list {
            padding: 0 0 15px;

            li {
                height: auto;
            }
        }

        .header-facet {
            border-top-color: $base-color;
            color: #111827;
            font-size: 12px;
            line-height: 1.2;
            text-transform: uppercase;
            font-weight: 900;
            padding: 13px 15px 7px;
        }

        .facet-option {
            font-size: 14px;
            line-height: 1.4;
            padding: 3px 15px;
            font-weight: 300;
            color: $field-label-color;

            &:hover,
            &:focus {
                color: $white;
                background: $base-color;
                cursor: pointer;

                .count-number {
                    color: $white;
                }
            }

            &.selected {
                background: $base-color2;
                color: $white;

                .count:before {
                    color: $white;
                }

                &:hover,
                &:focus {
                    color: $white;
                    background: $base-color;

                    .count-number,
                    .count:before {
                        color: $white;
                    }
                }
            }

            .count-number {
                font-weight: 600;
                color: $base-color;
            }
        }
    }

    .loading-spinner {
        color: $base-color;
        background: #f2f2f2;
        top: 2px;
    }

    .filters {
        margin-top: 7px;
        margin-bottom: 30px;

        .filters-inner {
            border-top: 1px solid rgba($base-color2, .6);
            border-bottom: 1px solid rgba($base-color2, .6);

            @media (max-width: 991px) {
                text-align: center;
                border: none;
            }
        }

        ul {
            @media (max-width: 991px) {
                display: flex;
                flex-wrap: wrap;
                border-top: 1px solid rgba($base-color2, .6);
                border-bottom: 1px solid rgba($base-color2, .6);
                padding: 5px 0;
            }
        }

        li {
            background: $base-color2;
            border-radius: 10px;
            margin: 12px 5px 12px 0;
            padding: 9px 15px;
            transition: background-color .15s linear;

            @media (max-width: 991px) {
                padding: 7px 15px;
                margin: 5px 5px 5px 0;
            }

            &:hover,
            &:focus {
                cursor: pointer;
                background: $base-color2-hover;
            }

            .facet-option {
                font-size: 12px;
                line-height: 1.2;
                font-weight: 900;
                text-transform: uppercase;
                color: $white;
                padding: 0;

                @media (max-width: 991px) {
                    font-size: 10px;
                }
            }

            span {
                color: inherit;
                vertical-align: middle;
            }
        }

        .clear-filters {
            line-height: 1.2;
            margin: 8px 0 8px 10px;
            font-size: 14px;
            font-weight: 900;
            color: $white;
            text-align: center;
            background: $base-attention-color;
            padding: 13px 20px;
            border-radius: 10px;
            text-transform: uppercase;
            min-width: 255px;
            transition: background-color .15s linear;

            @media (max-width: 991px) {
                float: none;
                min-width: 165px;
                font-size: 12px;
                padding: 11px 20px;
            }

            &:hover,
            &:focus {
                cursor: pointer;
                background: lighten($base-attention-color, 20%);
            }
        }
    }
}
