select:not(.forum-nav-filter-main-control):not(.forum-nav-sort-control),
.forum-new-post-form .post-field .field-label .field-input select.post-topic {
    border-radius: 10px;
    background: $white;
    border: 1px solid rgba($base-color2, .5) !important;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    height: 40px;
    transition: all .15s linear;
    color: $field-label-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    box-sizing: border-box;
    background: $white url('../images/select-arrow.png') no-repeat;
    background-position: calc(100% - 15px) 50%;
    background-size: 8px 7px !important;
    padding: 5px 30px 5px 10px !important;
    max-width: 100%;

    &::-ms-expand {
        display: none;
    }
}
