## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<!-- <div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
##          <li><a href="${reverse('tos')}">Terms of Service</a></li>
##          <li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>
##          <li><a href="${reverse('tos')}#honor">Honor Code</a></li>
##          <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
          ##<li><a href="${reverse('about_edx')}#careers">Careers</a></li>
          ##<li><a href="${reverse('about_edx')}#contact">Contact</a></li>
          ##<li><a href="${marketing_link('JOBS')}#careers">Careers</a></li>
##          <li><a href="${marketing_link('CONTACT')}#contact">Contact</a></li>
          ##<li><a href="${marketing_link('FAQ')}">Help</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <a href="http://raccoongang.com" target="_blank">
        <span class="raccoongang">
    	  <img src="${static.url('themes/default/images/OpenEdXLogo.png')}" /> Raccoon Gang
        </span>
      </a>
      <span>Built on
				<a href="http://code.edx.org">
          <img src="/static/themes/default/images/open_edx.png" width="146" height="30" alt="OpenEdx" style="margin-top: -9px;"/>
				</a></span>
    </div>
  </footer>
</div> -->
<footer class="theme-footer">
  <div class="theme-footer_holder">
    <h2 class="theme-footer_header">Browse Courses</h2>
    <ul class="theme-footer_list">
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Architecture</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Art & Culture</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Biology & Life Sciences</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Chemistry</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Communication</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Computer Science</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Economics & Finance</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Education & Teacher Training</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Electronics</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Food & Nutrition</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Health & Safety</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">History</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Music</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Philanthropy</a></li>
      <li class="theme-footer_list-item"><a href="#" class="theme-footer_list-link">Philosophy & Ethics</a></li>
    </ul>
    <div class="theme-footer_section">
      <span class="theme-footer_text">If you have some questions please contact us</span>
      <a class="theme-footer_link" href="#">Contact us</a>
    </div>
  </div>
  <div class="theme-footer_holder theme-footer_holder__color">
    <div class="theme-footer_wrapper">
      <div class="theme-footer_col">
        <h2 class="theme-footer_col-header">About the university</h2>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="#">RacoonGang</a>  
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="#">About Us</a>
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="#">eDX Services</a>
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="#">Blog</a>
        </div>
      </div>
      <div class="theme-footer_col">
        <h2 class="theme-footer_col-header">courses</h2>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="#">Sertification Center</a>
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="#">Lectors</a>
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="#">Books & Library</a>
        </div>
      </div>
      <div class="theme-footer_col">
        <h2 class="theme-footer_col-header">Contact us</h2>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="#">Contact Us</a>
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="#">Help</a>
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="#">FAQ</a>
        </div>
      </div>
    </div>
    <div class="theme-footer_section">
      <div class="theme-footer_copyright">
        © 2016 Racoongang. All Rights Reserved
      </div>
    </div>
  </div>
</footer>