#djDebug {
    display: none !important;
}

@import "mixin";
@import "variables";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/home-page";
@import "blocks/slider";
@import "blocks/login-register";
@import "blocks/courses";

@include font-face(Neris, '../fonts/Neris-Light', 300, normal, woff woff2);
@include font-face(Neris, '../fonts/Neris-Light', 400, normal, woff woff2);
@include font-face(Neris, '../fonts/Neris-SemiBold', 600, normal, woff woff2);
@include font-face(Neris, '../fonts/Neris-Black', 900, normal, woff woff2);

*:not(.fa):not(.glyphicon):not([class*='sorting']):not([class*="icon-cc"]) {
    font-family: Neris, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.wrap,
body:not(.home-page) main#main {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;

    @media (max-width: 767px) {
        padding: 0 10px;
    }

    &_flex {
        display: flex;
        justify-content: space-between;
    }

    &_flex-wrap {
        flex-wrap: wrap;
        align-items: center;
    }
}

.window-wrap {
    background: #f2f2f2;
}
