// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

// =============================================================================
// Full screen background image
// =============================================================================

@mixin full-page-background-image($image-path) {
    background-color: transparent !important;

    &:before {
        content: '';
        position: fixed;
        z-index: -2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: url($image-path) no-repeat 50% 50% !important;
        background-size: cover !important;
    }

    &:after {
        //content: '';
        //position: fixed;
        //z-index: -1;
        //top: 0;
        //bottom: 0;
        //left: 0;
        //right: 0;
        //background: rgba(0,0,0,.8);
    }
}

// =============================================================================
// Placeholder
// =============================================================================

@mixin placeholder {
    &::placeholder {
        @content;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-ms-input-placeholder {
        @content;
    }
}
