.footer-list {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    justify-content: center;
    @media screen and (max-width: 576px) {
        flex-wrap: wrap;
    }
}
.footer-list_link {
    font-size: 16px;
    line-height: 1.3;
    color: $footer-nav-link-color !important;
    
    &:visited,
    &:active,
    &:focus {
        color: $footer-nav-link-color !important;
    }
    &:hover {
        color: $footer-nav-link-color-hover !important;
    }
}
.footer-list_item {
    margin: 0 8px;
    text-align: center;

    @media screen and (max-width: 576px) {
        width: 100%;
    }
}
.svg-footer {
    width: 35px;
    height: 35px;
}
.svg-edx {
    width: 58px;
    height: 36px;
}
.svg-raccoon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}