.footer-support {
    font-size: 12px;
    line-height: 1.2px;
    color: $footer-support-text-and-logo;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    @media screen and (min-width: 800px) {
        width: auto;
        position: absolute;
        left: 20px;
    }
    @media screen and (min-width: 1200px) {
        left: 0;
    }
}