.header-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-list_item {
    margin: 0 5px;
    @media screen and (max-width: 760px) {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    
}
.header-list_link {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    color: $header-nav-link-color !important;

    &:hover {
        color: $header-nav-link-color-hover !important;
    }
}