.icon-list {
    display: flex;
    align-items: center;
    margin: 0 auto 15px;
    padding: 0;
    list-style: none;
    @media screen and (min-width: 800px) {
        margin-bottom: 0;
    }
}
.icon-list_item {
    margin: 0 4px;
}
.icon-list_icon {
    width: 35px;
    height: 35px;
    fill: $footer-social-link-bg;
    &:hover,&:focus,&:active {
        fill: $footer-social-link-bg-hover;
    }
}
