.enrollment-wrapper table {
	width: 100%;
	caption {
		padding: 10px;
	}
	th, td {
		padding: 5px 10px;
		border: 1px solid #ccc;
		vertical-align: middle;
	}
}

.instructor-dashboard-content-2 {
	line-height: 1.5;
	button:not(.btn-link),
	.btn-blue,
	input[type=button] {
		margin: 10px 0;
	}
	p input {
		margin-top: 0 !important;
	}
	ul li {
		margin-bottom: 5px;
	}
	textarea {
		width: 100% !important;
		clear: both;
		&#notes,
		&#certificate-invalidation-notes {
			height: 100px;
		}
	}
	.add-certificate-invalidation {
		label {
			display: block;
			margin-bottom: 10px;
		}
		div {
			margin-bottom: 10px;
		}
	}
}