.theme-btn {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 2px;
    background: $theme-btn-bg;
    color: $theme-btn-text-color !important;
    text-transform: uppercase;

    &:hover {
        background: $theme-btn-bg-hover;
        color: $theme-btn-text-color-hover !important;
    }
}