.theme-header {
    background: $header-background;
    padding: 30px 0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}
.theme-header__holder {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    @media screen and (min-width: 1240px) {
        padding: 0;
    }
}
.theme-header__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0 0 30px;
    align-items: center;
}