.theme-header-nav {
    display: flex;
}
.theme-header-nav__item {
    margin: 0 5px 0 0 ;

    &:last-child {
        margin-right: 0;
    }
}
.theme-header-nav__link {
    color: $header-nav-link-color !important;

    &:hover {
        color: $header-nav-link-color-hover !important;
    }
}