// footer on flex
.theme-footer_holder {
    position: relative;
    padding: 0 20px;
    @media screen and (min-width: 800px) {
        display: flex;
        justify-content: space-between;
    }
    //@media all and (max-width: 768px){
    //    flex-direction: column;
    //    align-items: center;
    //    height: 120px;
    //}
    .logo-footer,
    .icon-list,
    .footer-support {
        position: static;
        flex: 0 0 33%;
        margin: 0;
        width: auto;
    }
    .icon-list {
        justify-content: center;
        order: 2;
        @media screen and (max-width: 779px) {
            margin: 10px 0;
        }
    }
    .logo-footer {
        justify-content: center;
        order: 3;
        @media screen and (min-width: 800px) {
            justify-content: flex-end;
        }
        @media screen and (max-width: 779px) {
            margin: 20px 0;
        }
    }
    .footer-support {
        justify-content: center;
        flex: 0 0 34%;
        align-items: center;
        color: $footer-nav-link-color !important;
        @media screen and (min-width: 800px) {
            justify-content: flex-start;
        }
        @media screen and (max-width: 779px) {
            margin: 10px 0;
        }
    }
}
.theme-footer {
    width: 100%;
    background: $footer-bg;
}
.theme-footer_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.logo-footer {
    display: flex;
    width: 100%;
    margin: 0 0 15px;
    @media screen and (min-width: 800px) {
        margin: 0;
        width: auto;
        position: absolute;
        right: 20px;
    }
    @media screen and (min-width: 1200px) {
        right: 0;
    }
}
