.theme-header {
    background: $header-background;
    padding: 18px 0;
    border-bottom: 1px solid #919191;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
}
.theme-header__holder {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    @media screen and (max-width: 760px) {
        flex-wrap: wrap;
        padding: 0 10px;
    }
    @media screen and (min-width: 1240px) {
        padding: 0;
    }
}
.theme-header__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0 0 40px;
    align-items: center;

    @media screen and (max-width: 760px) {
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        display: none;

        .menu-open & {
            display: flex;
        }
    }

    .lang_ar & {
        padding: 0 40px 0 0;
        @media screen and (max-width: 760px) {
            padding: 0;
        }
    }
}
.theme-header__block {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    @media screen and (max-width: 760px) {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .lang_ar & {
        margin: 0 auto 0 0;
    }
}