.user {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.user .primary {
    margin-bottom: 0;
}
.user-link {
    display: flex;
    align-items: center;
}
.user-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    padding: 5px 10px !important;
    min-width: 120px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
    border: 1px solid #c8c8c8;
    z-index: 3;
    margin: 8px 11px 0 0;
    list-style: none;

    &::before {
        background: transparent;
        border-top: 6px solid #fcfcfc;
        border-right: 6px solid #fcfcfc;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
        box-shadow: 1px 0 0 0 #c8c8c8, 0 -1px 0 0 #c8c8c8;
        content: "";
        display: block;
        height: 0px;
        position: absolute;
        transform: rotate(-45deg);
        left: 7px;
        top: -5px;
        width: 0px;

        .lang_en & {
            right: 7px;
            left: auto;
        }
    }

    .lang_ar & {
        right: auto;
        left: 0;
        margin: 8px 0 0 11px;
    }

    &.expanded {
        display: block;
    }
    .item {
        padding-top: 5px;
    }
    .user-dropdown-menuitem,
    .dropdown-menuitem {
        white-space: nowrap;
        color: $theme-link;

        &:focus {
            color: $theme-link;
        }

        &:hover {
            color: $theme-link-hover;
        }
    }
}
.user-image-frame {
    max-width: 40px;
    border-radius: 10%;
}
.user-menu {
    position: relative;
}
.user-dropdown {
    border: none;
    background: none;
    text-shadow: none;
    color: $header-nav-link-color;
    box-shadow: none;
    padding: 0 20px;
    margin: -5px 0 0 0;

    &:hover:not(:disabled),
    &:focus,
    &:hover,
    &:active {
        border: none;
        background: none;
        text-shadow: none;
        color: $header-nav-link-color-hover;
        box-shadow: none;
    }
}
.label-username {
    color: $header-nav-link-color;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    margin: 0 5px;
    &:hover,&:focus,&:active {
        color: $header-nav-link-color-hover;
    }
}
