<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangoapps.models.course_details import CourseDetails
from course_category.models import CourseCategory
from django.template.defaultfilters import truncatechars
%>
<%page args="course" expression_filter="h"/>
<a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="theme-course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}">
  <div class="theme-course_holder">
    <header class="theme-course_image-holder">
        <img class="theme-course_image" src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" />
    </header>
    <div class="theme-course_info-holder" aria-hidden="true">
      <strong class="theme-course_info">
       <%
          cc_queryset = CourseCategory.objects.filter(coursecategorycourse__course_id=course.id)
          category = cc_queryset and cc_queryset[0] or None
       %>
##       % if category:
##        % for cat in category.get_ancestors():
##         <span class="theme-course_text">${cat.name}</span>
##         <span class="theme-course_text">/</span>
##        % endfor
##         <span class="theme-course_text">${category.name}</span>
##       % else:
        <span class="theme-course_text">${course.display_org_with_default}</span>
##        <span class="theme-course_text">/</span>
##        <span class="theme-course_text">${course.display_number_with_default}</span>
##       % endif
      </strong>
      <h2 class="theme-course_title">${course.display_name_with_default}</h2>
      <p class="theme-course_description">${truncatechars(course.short_description, 156)}</p>
      <!-- <div class="course-date" aria-hidden="true">${_("Starts")}: ${course.start_display}</div> -->
    </div>
    <!-- <div class="sr">
      <ul>
      <li>${course.display_org_with_default}</li>
      <li>${course.display_number_with_default}</li>
      <li>${_("Starts")}: <time itemprop="startDate" datetime="${course.start_display}">${course.start_display}</time></li>
    </ul>
    </div> -->
  </div>
</a>
