## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<footer class="theme-footer">
  <div class="theme-footer_holder">
    <div class="theme-footer_section">
      <span class="theme-footer_text">If you have some questions please contact us</span>
      <a class="theme-btn theme-btn__contact" href="/contact">Contact us</a>
    </div>
  </div>
  <div class="theme-footer_holder theme-footer_holder__color">
    <div class="theme-footer_wrapper">
      <div class="theme-footer_col">
        <h2 class="theme-footer_col-header">About the university</h2>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="https://raccoongang.com/en/raccoon-university/" target="_blank">Raccoon Gang University</a>  
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="https://raccoongang.com/en/about-us/" target="_blank">About Us</a>
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="https://raccoongang.com/#our_services" target="_blank">eDX Services</a>
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="https://raccoongang.com/en/blog/" target="_blank">Blog</a>
        </div>
      </div>
      <div class="theme-footer_col">
        <h2 class="theme-footer_col-header">courses</h2>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="https://studio-marvel-ficus.raccoongang.com/" target="_blank">Create Course Now</a>
        </div>
      </div>
      <div class="theme-footer_col">
        <h2 class="theme-footer_col-header">Contact us</h2>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="/contact">Contact Us</a>
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="https://raccoongang.com/en/contact-us/" target="_blank">Help</a>
        </div>
      </div>
    </div>
    <div class="theme-footer_section">
      <div class="theme-footer_copyright">
        © 2016 Racoongang. All Rights Reserved
        <a href="${footer['openedx_link']['url']}">
          <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="140" />
        </a>
      </div>
    </div>
  </div>
</footer>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif