## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
    <div class="colophon">

      <nav class="nav-colophon" aria-label="${_('About')}">
        <ol>
            <li class="nav-colophon-01">
              <a href="/about">${_("About")}</a>
            </li>
            <li class="nav-colophon-02">
              <a href="/privacy">${_("Privacy Policy")}</a>
            </li>
            <li class="nav-colophon-03">
              <a href="/tos">${_("Terms of Service")}</a>
            </li>
        </ol>
      </nav>
      <div class="footer-flex">
        <p class="footer-support">
          <span>Built on</span>
          <a target="_blank" href="${footer['openedx_link']['url']}">
            <svg class="svg-edx"  viewBox="0 0 100 70">
              <use xlink:href="#logo-edx" />
            </svg>
          </a>
          <span>by</span>
          <a target="_blank" href="https://raccoongang.com" class="raccoon__logo">
            <em>Raccoon Gang</em>
            <svg class="svg-raccoon"  viewBox="0 0 100 100">
              <use xlink:href="#logo-raccoon" />
            </svg>
          </a>
        </p>
        <ul class="icon-list">
          <li class="icon-list_item"><a href="#" target="_blank" class="icon-list_link">
            <svg class="icon-list_svg" viewBox="0 0 35 35">
              <use xlink:href="#ico-facebook" />
            </svg>
            </a>
          </li>
          <li class="icon-list_item"><a href="#" target="_blank" class="icon-list_link">
            <svg class="icon-list_svg" viewBox="0 0 35 35">
              <use xlink:href="#ico-twitter" />
            </svg></a>
          </li>
        </ul>
        <div class="footer-logo-holder">
          <a href="/"><img alt="organization logo" src="/static/${settings.DEFAULT_SITE_THEME}/images/footer-logo.png"></a>
        </div>
      </div>
    </div>
  </footer>
</div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
