<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<section class="home">
  <section class="promo-box">
    <img class="promo-box_img" src="/static/themes/default/images/promo-box/promo-img.jpg" alt="promo img">
    <div class="promo-box_holder">
      <span class="promo-box_text">the best theme for education</span>
      <h1 class="promo-box_heading">Welcome to University!</h1>
      <a class="promo-box_link" href="#">start learn now</a>
    </div>
  </section>
  <section class="box-new">
    <div class="box-new_decoration">
      <img class="box-new_img" src="/static/themes/default/images/box-new/book.png" alt="book">
      <div class="box-new_count">
        <div class="box-new_wrapper">
          <span class="box-new_numb">500+</span>
          <span class="box-new_caption">COURSES</span>
        </div>
      </div>
    </div>
    <div class="box-new_line">
      <div class="box-new_left">
        <h2 class="box-new_heading">BOOKS & LIBRARY</h2>
        <p class="box-new_text">Masterstudy is one of the world’s busiest public library systems, with over 10 million books, movies and other items to borrow.</p>
      </div>
      <div class="box-new_right">
        <h2 class="box-new_heading">TRENDING COURSES</h2>
        <p class="box-new_text">Your chance to be a trending expert in IT industries and make a successful career after completion of our courses.</p>
      </div>
    </div>
    <div class="box-new_line box-new_line__color">
      <div class="box-new_left">
        <strong class="box-new_strong">What‘s Inside</strong>
      </div>
      <div class="box-new_right">
        <a class="box-new_link" href="#">start the course now</a>
      </div>
    </div>
    <div class="box-new_line">
      <div class="box-new_left">
        <h2 class="box-new_heading">CERTIFIED TEACHERS</h2>
        <p class="box-new_text">Get professional education and reliable consultation by our team of certified teachers and instructors.</p>
      </div>
      <div class="box-new_right">
        <h2 class="box-new_heading">CERTIFICATION</h2>
        <p class="box-new_text">Upon successful completion receive a certificate showing your achievement for completing one of our rigorous classes.</p>
      </div>
    </div>
  </section>
  <%include file="${courses_list}" />

</section>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,800,600,700' rel='stylesheet' type='text/css'>
% endif
