<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="bodyclass">home-page</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <div class="slider slider-separate">
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">
              % if homepage_overlay_html:
                ${homepage_overlay_html | n, decode.utf8}
              % else:
                ## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
                <p>${_("the best theme for education")}</p>
                ## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
                <h1>${_("Welcome to University!")}</h1>
                <a href="${reverse('dashboard')}" class="slider-btn">${_("Explore courses")}</a>
              % endif
            </div>
          </div>
          <%include file="index_promo_video.html" />
        </div>
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">
              % if homepage_overlay_html:
                ${homepage_overlay_html | n, decode.utf8}
              % else:
                ## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
                <p>${_("the best theme for education")}</p>
                ## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
                <h1>${_("Welcome to University!")}</h1>
                <a href="${reverse('dashboard')}" class="slider-btn">${_("Explore courses")}</a>
              % endif
            </div>
          </div>
          <%include file="index_promo_video.html" />
        </div>
      </div>

      <script src="${static.url('js/slick.min.js')}"></script>
      <script src="${static.url('js/slider.js')}"></script>

      <%include file="${courses_list}" />

      <section class="testimonials">
        <div class="wrap">
          <div class="testimonials-title section-title">
            <svg><use xlink:href="#icon-testimonials" /></svg>
            ${_("Testimonials")}
          </div>
          <ul class="testimonials-list">
            <li class="testimonials-item">
              <div class="testimonials-item-wrap">
                <figure class="testimonials-photo" style="background-image: url('/static/${settings.DEFAULT_SITE_THEME}/images/testimonials/testimonial1.jpg')">
                  <img class="sr" src="/static/${settings.DEFAULT_SITE_THEME}/images/testimonials/testimonial1.jpg" alt="${_("Brian O'grady")}">
                </figure>
                <div class="testimonials-name">${_("Brian O'grady")}</div>
                <div class="testimonials-position">${_("Programme Director")}</div>
                <div class="testimonials-message">${_("This project-based course explores the process of designing and developing educational games, including issues associated with assessment, implementation and marketing")}...</div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="testimonials-item-wrap">
                <figure class="testimonials-photo" style="background-image: url('/static/${settings.DEFAULT_SITE_THEME}/images/testimonials/testimonial2.jpg')">
                  <img class="sr" src="/static/${settings.DEFAULT_SITE_THEME}/images/testimonials/testimonial2.jpg" alt="${_("Brian O'grady")}">
                </figure>
                <div class="testimonials-name">${_("Brian O'grady")}</div>
                <div class="testimonials-position">${_("Programme Director")}</div>
                <div class="testimonials-message">${_("This project-based course explores the process of designing and developing educational games, including issues associated with assessment, implementation and marketing")}...</div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="testimonials-item-wrap">
                <figure class="testimonials-photo" style="background-image: url('/static/${settings.DEFAULT_SITE_THEME}/images/testimonials/testimonial3.jpg')">
                  <img class="sr" src="/static/${settings.DEFAULT_SITE_THEME}/images/testimonials/testimonial3.jpg" alt="${_("Brian O'grady")}">
                </figure>
                <div class="testimonials-name">${_("Brian O'grady")}</div>
                <div class="testimonials-position">${_("Programme Director")}</div>
                <div class="testimonials-message">${_("This project-based course explores the process of designing and developing educational games, including issues associated with assessment, implementation and marketing")}...</div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="testimonials-item-wrap">
                <figure class="testimonials-photo" style="background-image: url('/static/${settings.DEFAULT_SITE_THEME}/images/testimonials/testimonial1.jpg')">
                  <img class="sr" src="/static/${settings.DEFAULT_SITE_THEME}/images/testimonials/testimonial1.jpg" alt="${_("Brian O'grady")}">
                </figure>
                <div class="testimonials-name">${_("Brian O'grady")}</div>
                <div class="testimonials-position">${_("Programme Director")}</div>
                <div class="testimonials-message">${_("This project-based course explores the process of designing and developing educational games, including issues associated with assessment, implementation and marketing")}...</div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="testimonials-item-wrap">
                <figure class="testimonials-photo" style="background-image: url('/static/${settings.DEFAULT_SITE_THEME}/images/testimonials/testimonial2.jpg')">
                  <img class="sr" src="/static/${settings.DEFAULT_SITE_THEME}/images/testimonials/testimonial2.jpg" alt="${_("Brian O'grady")}">
                </figure>
                <div class="testimonials-name">${_("Brian O'grady")}</div>
                <div class="testimonials-position">${_("Programme Director")}</div>
                <div class="testimonials-message">${_("This project-based course explores the process of designing and developing educational games, including issues associated with assessment, implementation and marketing")}...</div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="partners">
        <div class="wrap">
          <div class="partners-title section-title">
            <svg><use xlink:href="#icon-partners" /></svg>
            ${_("Our partners")}
          </div>
          <ul class="partners-list">
            <li class="partners-item">
              <figure class="partners-link">
                <img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/partner1.png" alt="${_('Microsoft logo')}" class="partners-logo">
              </figure>
            </li>
            <li class="partners-item">
              <figure class="partners-link">
                <img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/partner2.png" alt="${_('edx logo')}" class="partners-logo">
              </figure>
            </li>
            <li class="partners-item">
              <figure class="partners-link">
                <img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/partner3.png" alt="${_('prometheus logo')}" class="partners-logo">
              </figure>
            </li>
            <li class="partners-item">
              <figure class="partners-link">
                <img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/partner4.png" alt="${_('shindig logo')}" class="partners-logo">
              </figure>
            </li>
            <li class="partners-item">
              <figure class="partners-link">
                <img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/partner5.png" alt="${_('UCLA logo')}" class="partners-logo">
              </figure>
            </li>
            <li class="partners-item">
              <figure class="partners-link">
                <img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/partner6.png" alt="${_('go-it logo')}" class="partners-logo">
              </figure>
            </li>
            <li class="partners-item">
              <figure class="partners-link">
                <img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/partner7.png" alt="${_('labster logo')}" class="partners-logo">
              </figure>
            </li>
            <li class="partners-item">
              <figure class="partners-link">
                <img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/partner1.png" alt="${_('Microsoft logo')}" class="partners-logo">
              </figure>
            </li>
            <li class="partners-item">
              <figure class="partners-link">
                <img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/partner2.png" alt="${_('edx logo')}" class="partners-logo">
              </figure>
            </li>
            <li class="partners-item">
              <figure class="partners-link">
                <img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/partner3.png" alt="${_('prometheus logo')}" class="partners-logo">
              </figure>
            </li>
          </ul>
        </div>
      </section>

    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      });
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
