<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" class="theme-content" tabindex="-1">
    <section class="home theme-content_section">
      <header class="theme-content_header">
        <div class="theme-content_helper"></div>
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">
              % if homepage_overlay_html:
                ${homepage_overlay_html | n, decode.utf8}
              % else:
                  ## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
                  <h1>Welcome to TrainIT!</h1>
                  ## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
                  <p>your first choice for latest technology training</p>
              % endif
            </div>
            % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
              <div class="course-search">
                <form method="get" action="/courses">
                  <label><span class="sr">${_("Search for a course")}</span>
                    <input class="search-input" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
                  </label>
                  <button class="search-button" type="submit">
                    <span class="sr">${_("Search")}</span>
                  </button>
                </form>
              </div>
            % endif

          </div>

          % if show_homepage_promo_video:
            <a href="#video-modal" class="media" rel="leanModal">
              <div class="hero">
                <div class="play-intro"></div>
              </div>
            </a>
          % endif
        </div>

      </header>
      <div class="carousel">
        <div class="carousel-container">
           <div class="customer-logos slider">
              <div class="slide"><a href="http://edukacja.action.com.pl/en/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/action.svg"></a></div>
              <div class="slide"><a href="http://www.algebra.hr/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/algebra.svg"></a></div>
              <div class="slide"><a href="http://bilgeadam.com/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/bilgeadam.svg"></a></div>
              <div class="slide"><a href="http://www.computrain.nl/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/computrain.svg"></a></div>
              <div class="slide"><a href="https://www.digicomp.ch/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/digicomp.svg"></a></div>
              <div class="slide"><a href="http://www.edugroupe.com/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/edugroupe.svg"></a></div>
              <div class="slide"><a href="https://www.etc.at/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/etc.svg"></a></div>
              <div class="slide"><a href="http://www.gopas.cz/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/gopas-cz.svg"></a></div>
              <div class="slide"><a href="http://pipeline.it/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/pipeline.svg"></a></div>
              <div class="slide"><a href="http://www.promennt.is/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/promennt.svg"></a></div>
              <div class="slide"><a href="https://education.realdolmen.com/en" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/realdolmen.svg"></a></div>
              <div class="slide"><a href="http://rumos.pt/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/rumos.svg"></a></div>
              <div class="slide"><a href="http://www.teknologisk.dk/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/teknologisk.svg"></a></div>
              <div class="slide"><a href="http://www.tuv.com/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/tuv.svg"></a></div>
              <div class="slide"><a href="http://www.addskills.se/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/addskills_cornerstone.png"></a></div>
              <div class="slide"><a href="https://www.bittnet.ro/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/bittnet.png"></a></div>
              <div class="slide"><a href="http://glasspaper.no/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/glasspaper.png"></a></div>
              <div class="slide"><a href="http://www.netmind.es/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/netmind.png"></a></div>
              <div class="slide"><a href="http://sovelto.fi/etusivu" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/sovelto.png"></a></div>
              <div class="slide"><a href="http://www.specialist.ru/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/specialist.png"></a></div>
              <div class="slide"><a href="https://www.training360.com/" target="_blank"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/training360.png"></a></div>
           </div>
        </div>
      </div>
      <div class="homepage-boxes">
        <div class="homepage-boxes-container">
          <div class="homepage-boxes-item">
            <img class="homepage-boxes_logo-etc" src="/static/${settings.DEFAULT_SITE_THEME}/images/logo-etc.png" width="150">
            <h1>Learn from Experts</h1>
            <p>TrainIT, a group of 29 well-known Training Centers – each of them a leading IT training company in their country.</p>
            <a href="https://training.thellpa.com/about">Learn more</a>
          </div>
          
          <div class="homepage-boxes-item">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/certificate.svg">
            <h1>Earn a Valuable Certificate</h1>
            <p>After the course completion receive an instructor signed certificate to verify your achievement and increase your job prospects.</p>
            <a href="https://training.thellpa.com/faq">Learn more</a>
          </div>

          <div class="homepage-boxes-item">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/bulb.svg">
            <h1>Upgrade your skills with vILT</h1>
            <p>Only TrainIT and its members offer you the best of breed: powerful, deep, hands-on, online training, developed by experts, combined with live virtual Instructor Led Training, led by Certified Trainers.</p>
            <a href="https://training.thellpa.com/about">Learn more</a>
          </div>

          <div class="homepage-boxes-item">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/azure.svg">
            <h1>Azure Skills Initiative</h1>
            <p>Whether you’re new to Azure or already a cloud professional, training is one of the best investments you can make in your career.</p>
            <a href="http://thellpa.com/azure">Learn more</a>
          </div>
        </div>
      </div>

      <h1 class="theme-content_heading">Featured courses</h1>
      <div class="viewall-top-btn"><a href="/courses/">View all courses</a></div>
      <%include file="courses_list.html" />
      <div class="viewall-top-btn mobile"><a href="/courses/">View all courses</a></div>
      <h1 class="theme-content_heading">TrainIT Learning Tracks</h1>
      <div class="viewall-top-btn"><a href="/xseries/">View all tracks</a></div>
      <%include file="programs_list.html" />
      <div class="viewall-top-btn mobile"><a href="/xseries/">View all tracks</a></div>


    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
  <script type="text/javascript" src="/static/${settings.DEFAULT_SITE_THEME}/js/slick.min.js"></script>
  <script type="text/javascript" src="/static/${settings.DEFAULT_SITE_THEME}/js/carousel.js"></script>
  <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
