## mako
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from microsite_configuration import microsite
from microsite_configuration.templatetags.microsite import platform_name
from lms.djangoapps.ccx.overrides import get_current_ccx

# App that handles subdomain specific branding
import branding
# app that handles site status messages
from status.status import get_site_status_msg
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

<%block>
<%
try:
    course_id = course.id
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>
% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="white-error-icon"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
</%block>
<div class="nav-holder">
  <header class="theme-header ${"slim" if course else ""}" >
    <div class="theme-header-info">
        <div class="theme-header-info_contact">
            <span class="theme-header-info_text">Have any question?</span>
            <span class="theme-header-info_phone">+1 857 4533328</span>
            <a class="theme-header-info_mail" href="mailto:&#105;&#110;&#102;&#111;&#064;&#114;&#097;&#099;&#099;&#111;&#111;&#110;&#103;&#097;&#110;&#103;&#046;&#099;&#111;&#109;">info@raccoongang.com</a>
        </div>
        <div class="theme-header-info_social">
            <span class="theme-header-info_text">Find us in social network</span>
            <ul class="social-list">
                <li class="social-list_item"><a class="social-list_link" href="https://twitter.com/raccoongangcom"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="social-list_item"><a class="social-list_link" href="https://www.facebook.com/raccoongangco"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="social-list_item"><a class="social-list_link" href="https://www.linkedin.com/company/raccoon-gang"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <nav class="theme-nav-wrapper" aria-label="${_('Global')}">
      <a href="${marketing_link('ROOT')}">
        <%block name="navigation_logo">
            <span class="theme-nav-wrapper_logo-holder">
                <img src="/static/images/header-info/logo-racoon.png" alt="racoon logo"/>
            </span>
        </%block>
      </a>

    <div class="theme-nav-wrapper_holder">
    % if user.is_authenticated():
    <ol class="left nav-global authenticated">
      <%block name="navigation_global_links_authenticated">
        % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
          <li class="nav-global-01">
            <a href="${marketing_link('COURSES')}">${_('Find Courses')}</a>
          </li>
        % endif
        %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff:
          <li>
            ## Translators: This is short for "System administration".
            <a href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
          </li>
        %endif
      </%block>
    </ol>
    <ul class="user-list">
      <li class="user-list_item">
        <a class="user-list_link" href="${reverse('dashboard')}" class="user-link">
          ${user.username}
        </a>
      </li>
      <%block name="navigation_dropdown_menu_links" >
        <li class="user-list_item"><a class="user-list_link" href="${reverse('dashboard')}">${_("Dashboard")}</a></li>
        <li class="user-list_item"><a class="user-list_link" href="${reverse('learner_profile', kwargs={'username': user.username})}">${_("Profile")}</a></li>
        <li class="user-list_item"><a class="user-list_link" href="${reverse('account_settings')}">${_("Account")}</a></li>
      </%block>
      <li><a class="user-list_link" href="${reverse('logout')}" role="menuitem">${_("Sign Out")}</a></li>
    </ul>
      % if should_display_shopping_cart_func() and not (course and microsite.is_request_in_microsite()): # see shoppingcart.context_processor.user_has_cart_context_processor
        <ol class="user">
          <li class="primary">
            <a class="shopping-cart" href="${reverse('shoppingcart.views.show_cart')}">
              <i class="icon fa fa-shopping-cart"></i> ${_("Shopping Cart")}
            </a>
          </li>
        </ol>
      % endif
    % else:
    <ol class="left nav-global">
      <%block name="navigation_global_links">
        % if microsite.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False)):
          <li class="nav-global-01">
            <a href="${marketing_link('HOW_IT_WORKS')}">${_("How it Works")}</a>
          </li>
          % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
            <li class="nav-global-02">
              <a href="${marketing_link('COURSES')}">${_("Courses")}</a>
            </li>
          % endif
          <li class="nav-global-03">
            <a href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
          </li>
        % endif
      </%block>
      % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
          % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
          <li class="nav-global-05">
            <a class="cta cta-discovery" href="/courses"><i class="fa fa-search" aria-hidden="true"></i></a>
          </li>
          %endif
          % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
          <li class="nav-global-04">
            <a class="cta cta-register" href="${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}">${_("Register")}</a>
          </li>
          % else:
          <li class="nav-global-04">
            <a class="cta cta-register" href="/register${login_query()}">${_("Register")}</a>
          </li>
          % endif

      % endif
    </ol>

    <ol class="right nav-courseware">
    <li class="nav-courseware-01">
      % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
          % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
          <a class="theme-btn" href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}">${_("Sign in")}</a>
          % else:
          <a class="theme-btn" href="/login${login_query()}">${_("Sign in")}</a>
          % endif
      % endif
    </li>
    </ol>
    % endif
    </div>
  </nav>
</header>

<div class="theme-main-nav">
    <div class="theme-main-nav_opener"></div>
    <div class="theme-main-nav_logo">
      <a href="${marketing_link('ROOT')}">
        <span class="theme-nav-wrapper_logo-holder">
            <img src="/static/images/header-info/logo-racoon.png" alt="racoon logo"/>
        </span>
      </a>
    </div>
    <nav class="theme-main-nav_holder">
        <ul class="theme-main-nav_list">
            <li class="theme-main-nav_item"><a href="/about" class="theme-main-nav_link">About The University</a></li>
            <li class="theme-main-nav_item"><a href="/courses" class="theme-main-nav_link">Courses</a></li>
            <li class="theme-main-nav_item"><a href="/blog" class="theme-main-nav_link">Blog</a></li>
            <li class="theme-main-nav_item"><a href="/contact" class="theme-main-nav_link">Contact Us</a></li>
        </ul>
    </nav>
</div>
</div>
<script>
  $(".theme-main-nav_opener").on("click", function open(){
    if ($(this).parent().hasClass("theme-main-nav__open")){
      $(this).parent().removeClass("theme-main-nav__open");
    } else {
      $(this).parent().addClass("theme-main-nav__open");
    }
  });
</script>
% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${_('<strong>Warning:</strong> Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.').format(chrome_link='<a href="https://www.google.com/chrome" target="_blank">Chrome</a>', ff_link='<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>')}</div>
<![endif]-->
% endif

<%include file="help_modal.html"/>
