<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! 
from django.utils.translation import ugettext as _
from django.template.defaultfilters import truncatechars
%>

% if show_program_listing:

<section class="programs">
  <ul class="homepage-course-boxes-container">
    % for program in programs:
      <li class="homepage-course-boxes-item course-track">
        <div class="homepage-course-boxes-item_helper"></div>
        <div class="homepage-course-boxes-image-holder">
          <img srcset="${program['banner_image_urls'].get('w435h145', '')}" alt="${program['name']} Home Page." >
        </div>
        <div aria-labelledby="program-${program['id']}" role="group" class="homepage-course-boxes-description">
            <h3 id="program-${program['id']}">${', '.join(o['display_name'] for o in program['organizations'])}</h3>
            <h1>${program['name']}</h1>
            <div class="program-description">
                ${truncatechars(program['subtitle'], 156)}
            </div>
        </div>
        <a href="${program['detail_url']}"></a>
      </li>
    %endfor
  </ul>
</section>

% endif

