.theme-course {

    &_holder {
        display: flex;
        border-radius: 4px;
        background-color: #fefefe;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        min-height: 206px;
    }
    &_image-holder {
        width: 309px;
        border-right: 1px solid #d5d5d5;
        position: relative;
        overflow: hidden;
    }
    &_image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &_info {
        display: flex;
        width: 100%;
        padding: 0 0 1px;
    }
    &_info-holder {
        padding: 19px 20px 65px 29px;
        position: relative;
    }
    &_text {
        font: 18px/1.3 $font-bold;
        color: #a3a3a3;
        padding-right: 4px;
    }
    &_title {
        font: 34px/1.3 $font-light;
        color: #666;
    }
    &_btn-holder {
        position: absolute;
        bottom: 29px;
    }
}
