.hello-container {
    max-width: 1080px;
    padding: 30px 40px 0;
    margin: 0 auto;
    box-sizing: border-box;

    &_heading {
        font: 28px/1.3 $font-bold;
        color: #45a2d6;
        text-transform: none;
        margin: 0 0 3px;
    }
    &_text {
        font: 14px/17px $font-regular;
        color: #666;
        margin: 0 0 7px;
    }
    &_text-bold {
        font: 14px/17px $font-bold;
        color: #666;
        margin: 31px 0 0;
    }

    a {
        color: #dd4628 !important;

        &:focus,
        &:hover {
            color: #dd4628 !important;
            text-decoration: underline;
        }
    }
}