.theme-course-nav {
    background: #eaeaea;
    padding: 16px 40px 14px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px 0 #d6d6d6;

    &_list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        &-item {
            margin-right: 36px;
        }
    }
    &_social {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        &-item {
            margin-left: 30px;
        }

        .fa {
            font-size: 24px;
        }
    }
}
a.theme-course-nav_list-link {
    font: 16px/1.3 $font-bold;
    color: #666;
    text-transform: uppercase;

    &:hover {
        color: #e46c54;
        text-decoration: none;
    }
}
a.theme-course-nav_social-link {
    color: #848484;
    font-size: 16px;

    &:hover {
        color: #e46c54;
    }
}