a.theme-btn-1, 
.theme-btn-1 {
    font: 16px/1.3 $font-bold;
    color: #fff !important;
    background: #dd4628;
    border-radius: 3px;
    padding: 6px 20px 7px;
    white-space: nowrap;

    &:focus,
    &:hover {
        color: #fff !important;
        background-color: darken(#dd4628, 10%);
        text-decoration: none;
    }
}
