.nav-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: none;

    .menu-open & {
        display: flex;
        justify-content: center;
    }
    @media (min-width: 760px) {
        width: auto;
        display: block;
    }

    &:after {
        content: '';
        clear: both;
        display: table;
    }
}