## mako

<%page expression_filter="h" args="online_help_token, use_cookie_banner=False"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _

from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages

%>

<%
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
  courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
  can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing
  show_sysadmin_dashboard = settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff
  self.real_user = getattr(user, 'real_user', user)
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
% if uses_pattern_library:
    <%block name="js_extra">
    <%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
    HeaderFactory();
    </%static:require_module>
    </%block>
% endif

<header class="global-header ${'slim' if course else ''}">
    % if use_cookie_banner:
        ${static.renderReact(
            component="CookiePolicyBanner",
            id="cookie-policy-banner",
            props={}
        )}
    % endif
    <div class="header-top-bar">
        <div class="wrap wrap_flex">
            <div class="header-contacts">
                <span class="header-contacts-title">${_("Have any question?")}</span>
                <a href="tel:0993456543" class="header-contacts__phone">
                    <svg><use xlink:href="#icon-phone" /></svg>
                    (099) 345-65-43
                </a>
                <a href="mailto:univers@gmail.com" class="header-contacts__mail">
                    <svg><use xlink:href="#icon-mail" /></svg>
                    univers@gmail.com
                </a>
            </div>
            <div class="header-social">
                ${_("Find us in social network")}
                <ul class="header-social-list">
                    <li>
                        <a href="#" target="_blank" class="header-social__item">
                            <svg><use xlink:href="#icon-facebook" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="header-social__item">
                            <svg><use xlink:href="#icon-twitter" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="header-social__item">
                            <svg><use xlink:href="#icon-linkedin" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="header-social__item">
                            <svg><use xlink:href="#icon-googleplus" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="header-social__item">
                            <svg><use xlink:href="#icon-instagram" /></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-header">
        <div class="wrap">
            <%include file="navbar-logo-header.html" args="online_help_token=online_help_token"/>
            <div class="header-inside-block">
                % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY') and not user.is_authenticated:
                <button class="search-btn search-btn_mobile">
                  <svg><use xlink:href="#icon-search"/></svg>
                  <span class="sr">${_("Search")}</span>
                </button>
                % endif
                <div class="hamburger-menu" role="button" aria-label=${_("Options Menu")} aria-expanded="false" aria-controls="mobile-menu" tabindex="0">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            % if user.is_authenticated:
                <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
            % else:
                <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
            % endif
        </div>
        <div class="wrap">
            % if course:
            <div class="course-header">
              <span class="provider">${course.display_org_with_default}:</span>
              <span class="course-number">${course.display_number_with_default}</span>
              <%
              display_name = course.display_name_with_default
              if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
                ccx = get_current_ccx(course.id)
                if ccx:
                  display_name = ccx.display_name
              %>
              <span class="course-name">${display_name}</span>
            </div>
            % endif
        </div>
    </div>
    <nav class="header-nav">
        <div class="wrap">
            <ul class="header-nav-list">
                <li><a class="header-nav__link" href="#">${_("About the university")}</a></li>
                <li><a class="header-nav__link" href="#">${_("Courses")}</a></li>
                <li><a class="header-nav__link" href="#">${_("Features")}</a></li>
                <li><a class="header-nav__link" href="#">${_("Sertification center")}</a></li>
                <li><a class="header-nav__link" href="#">${_("Blog")}</a></li>
                <li><a class="header-nav__link" href="#">${_("Contact us")}</a></li>
            % if user.is_authenticated:
                % if show_dashboard_tabs:
                  <li>
                    <a class="${'active ' if reverse('dashboard') == request.path else ''}header-nav__link" href="${reverse('dashboard')}">
                      ${_("Courses")}
                    </a>
                  </li>
                  % if show_program_listing:
                    <li>
                      <a class="${'active ' if reverse('program_listing_view') in request.path else ''}header-nav__link" href="${reverse('program_listing_view')}">
                        ${_("Programs")}
                      </a>
                    </li>
                  % endif
                  <li>
                    <a class="${'active ' if '/u/' in request.path  else ''}header-nav__link" href="${reverse('learner_profile', args=[self.real_user.username])}">
                      ${_("Profile")}
                    </a>
                  </li>
                % endif
                % if show_explore_courses:
                  <li>
                    <a class="header-nav__link" href="${marketing_link('COURSES')}">${_('Discover New')}</a>
                  </li>
                % endif
                % if show_sysadmin_dashboard:
                  <li>
                    ## Translators: This is short for "System administration".
                    <a class="header-nav__link" href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
                  </li>
                % endif
                % if should_display_shopping_cart_func() and not (course and static.is_request_in_themed_site()): # see shoppingcart.context_processor.user_has_cart_context_processor
                  <li class="header-nav-elem_mobile">
                    <a class="header-nav__link" href="${reverse('shoppingcart.views.show_cart')}">
                      <svg><use xlink:href="#icon-basket"></use></svg>
                      ${_("Shopping Cart")}
                    </a>
                  </li>
                % endif
            % else:
                % if mktg_site_enabled:
                    <li>
                        <a class="header-nav__link" href="${marketing_link('HOW_IT_WORKS')}">${_("How it Works")}</a>
                    </li>
                    % if courses_are_browsable:
                    <li>
                        <a class="header-nav__link" href="${marketing_link('COURSES')}">${_("Courses")}</a>
                    </li>
                    % endif
                    <li>
                        <a class="header-nav__link" href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
                    </li>
                % endif
                % if allows_login:
                    % if can_discover_courses:
                    <li>
                        <a class="header-nav__link" href="/courses">${_('Explore courses')}</a>
                    </li>
                    %endif
                % endif
            % endif
            </ul>
        </div>
    </nav>
    <div class="mobile-menu hidden" aria-label=${_("More Options")} role="menu" id="mobile-menu"></div>
</header>

% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
    end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>'),
)}</div>
<![endif]-->
% endif

% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="../widgets/cookie-consent.html" />
% endif

% if header_language_selector_is_enabled():
    <% languages = released_languages() %>
    % if len(languages) > 1:
        <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
            % if user.is_authenticated:
                <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
            % else:
                <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
            % endif
            <label><span class="sr">${_("Choose Language")}</span>
            <select class="input select language-selector" id="settings-language-value" name="language">
                % for language in languages:
                    % if language[0] == LANGUAGE_CODE:
                        <option value="${language[0]}" selected="selected">${language[1]}</option>
                    % else:
                        <option value="${language[0]}" >${language[1]}</option>
                    % endif
                % endfor
            </select>
            </label>
        </form>
    % endif
% endif
