.login-btns-list {
    display: flex;
    order: 1;
    @media screen and (max-width: 760px) {
        width: 100%;
        justify-content: center;
        order: 2;
    }
}
.login-btns-list_item {
    margin: 0;
    margin-right: 3px;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (max-width: 760px) {
        text-align: center;
        width: 100%;

        .theme-btn {
            width: 100%;
            box-sizing: border-box;
        }
    }
}