.theme-main-nav {
    background: #1f1d20;

    &_holder {
        max-width: 1140px;
        margin: 0 auto;
    }
    &_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media all and (min-width: 860px){
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
    }
    &_link {
        font: 15px/1.3 muliregular;
        padding: 12px 30px 13px;
        text-align: center;
        display: block;
        color: #fff !important;
        @media all and (min-width: 450px){
            text-align: left;
        }
        @media all and (min-width: 860px){
            @include inline-block;
            text-align: center;
        }

        &:hover {
            background: $theme-color-main;
            text-decoration: none;
            color: #1f1d20 !important;
        }
    }
    &_item {
        width: 100%;
        border-top: 1px solid #2A358A;
        @media all and (min-width: 860px){
            flex-wrap: nowrap;
            border: none;
            width: auto;
        }

        &:first-child {
            border: none;
        }
    }
}