.content-wrapper {

    .login-form {
        * {
            font-family: muliregular !important;
        }

        .login-button {
            @include inline-block;
            font: 14px/1.3 muliregular;
            padding: 7px 24px 6px;
            box-shadow: none;
            border-radius: 0;
            text-transform: uppercase;
            transition: border-color color background 1s ease-out 0.5s;
            text-shadow: none;
            color: #fff !important;
            background: $theme-color-main;
            border: 1px solid $theme-color-main;

            &:hover {
                color: $theme-color-main !important;
                background: #fff;
                border: 1px solid $theme-color-main-hover;
                text-decoration: none;
            }
        }
    }
    .toggle-form {
        * {
            font-family: muliregular !important;
        }
        .nav-btn {
            @include inline-block;
            font: 14px/1.3 muliregular;
            color: $theme-color-main !important;
            border: 2px solid $theme-color-main-hover;
            padding: 7px 24px 6px;
            box-shadow: none;
            border-radius: 0;
            background: none;
            text-transform: uppercase;
            transition: border-color color background 1s ease-out 0.5s;

            &:hover {
                color: #fff !important;
                background: $theme-color-main;
                border-color: $theme-color-main;
                text-decoration: none;
            }
        }
    }
    .container {
        min-width: auto;
        
        * {
            font-family: muliregular !important;
        }

        .fa {
            font-family: FontAwesome !important;
        }
    }
}